{
    "openapi": "3.1.0",
    "info": {
        "title": "Blitz OpenAPI Reference",
        "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://api.blitzapi.io",
        "description": "Production server"
      }
    ],
    "security": [
      {
        "bearerAuth": []
      }
    ],
    "paths": {
        "/api/enrichment/phone": {
            "post": {
                "summary": "Find Phone Number",
                "description": "cost: 3 credits on success",
                "tags": [
                    "enrichment"
                ],
                "security": [
                    {
                        "APIKey": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "example": {
                                    "linkedin_profile_url": "https://www.linkedin.com/in/antoine-blitz-5581b7373"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "found": true,
                                        "phone": "+1234567890"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "message": "Missing API key, please provide a valid API key in the 'x-api-key' header"
                                    }
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment Required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "message": "Insufficient credits balance"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "success": false,
                                        "message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/enrichment/email": {
            "post": {
                "summary": "Find work email",
                "description": "cost: 1 credit on success",
                "tags": [
                    "enrichment"
                ],
                "security": [
                    {
                        "APIKey": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "example": {
                                    "linkedin_profile_url": "https://www.linkedin.com/in/antoine-blitz-5581b7373"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "found": true,
                                        "email": "antoine@blitz-agency.com"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "message": "Missing API key, please provide a valid API key in the 'x-api-key' header"
                                    }
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment Required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "message": "Insufficient credits balance"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "success": false,
                                        "message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/enrichment/email_domain": {
            "post": {
                "summary": "Email Domain Finder",
                "description": "cost: 0.5 credits on success",
                "tags": [
                    "enrichment"
                ],
                "security": [
                    {
                        "APIKey": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "example": {
                                    "linkedin_company_url": "https://www.linkedin.com/company/blitz-api"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "found": true,
                                        "email_domain": "example.com"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "message": "Missing API key, please provide a valid API key in the 'x-api-key' header"
                                    }
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment Required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "message": "Insufficient credits balance"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "success": false,
                                        "message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/blitz/key-info": {
            "get": {
                "summary": "Get API Key info",
                "description": "cost: 0 credits",
                "tags": [
                    "blitz"
                ],
                "security": [
                    {
                        "APIKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "id": "ID",
                                        "credits_balance": 278,
                                        "credits_reset_at": "21/11/2025, 00:00:00 AM",
                                        "active_plans": [
                                            {
                                                "name": "plan name",
                                                "status": "active"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "message": "Missing API key, please provide a valid API key in the 'x-api-key' header"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "message": "API Key not found"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "success": false,
                                        "message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/email/validate": {
            "post": {
                "tags": [
                    "email"
                ],
                "summary": "Catch-all Email Validation",
                "description": "cost: 0.5 credits on success",
                "security": [
                    {
                        "APIKey": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "example": {
                                    "email": "antoine@blitz-agency.com"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "email": "antoine@blitz-agency.com",
                                        "status": "valid"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "message": "Missing API key, please provide a valid API key in the 'x-api-key' header"
                                    }
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment Required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "message": "Insufficient credits balance"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "success": false,
                                        "message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/search/waterfall-icp": {
            "post": {
                "tags": [
                    "search"
                ],
                "summary": "Waterfall ICP",
                "description": "cost: 1 credit per result (max = max_results)",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "company_linkedin_url": {
                                        "type": "string",
                                        "example": "https://www.linkedin.com/company/wttj-fr"
                                    },
                                    "cascade": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "include_title": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "exclude_title": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "location": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "include_headline_search": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "example": [
                                            {
                                                "include_title": [
                                                    "Marketing Director",
                                                    "Head Marketing",
                                                    "Chief Marketing Officer"
                                                ],
                                                "exclude_title": [
                                                    "assistant",
                                                    "intern",
                                                    "product",
                                                    "junior"
                                                ],
                                                "location": [
                                                    "WORLD"
                                                ],
                                                "include_headline_search": false
                                            },
                                            {
                                                "include_title": [
                                                    "Marketing Manager",
                                                    "Head Growth",
                                                    "Growth manager"
                                                ],
                                                "exclude_title": [
                                                    "junior",
                                                    "assistant",
                                                    "intern",
                                                    "hacker"
                                                ],
                                                "location": [
                                                    "WORLD"
                                                ],
                                                "include_headline_search": false
                                            },
                                            {
                                                "include_title": [
                                                    "Communication Director",
                                                    "Brand Director",
                                                    "Content Director"
                                                ],
                                                "exclude_title": [
                                                    "junior",
                                                    "assistant",
                                                    "intern",
                                                    "UX",
                                                    "UI",
                                                    "Design"
                                                ],
                                                "location": [
                                                    "WORLD"
                                                ],
                                                "include_headline_search": false
                                            },
                                            {
                                                "include_title": [
                                                    "Communication Manager",
                                                    "Brand Manager",
                                                    "Content Manager"
                                                ],
                                                "exclude_title": [
                                                    "junior",
                                                    "assistant",
                                                    "intern"
                                                ],
                                                "location": [
                                                    "WORLD"
                                                ],
                                                "include_headline_search": false
                                            },
                                            {
                                                "include_title": [
                                                    "Communication",
                                                    "marketing",
                                                    "growth",
                                                    "brand"
                                                ],
                                                "exclude_title": [
                                                    "junior",
                                                    "assistant",
                                                    "intern",
                                                    "product"
                                                ],
                                                "location": [
                                                    "US",
                                                    "CA"
                                                ],
                                                "include_headline_search": true
                                            },
                                            {
                                                "include_title": [
                                                    "CEO",
                                                    "founder",
                                                    "cofounder",
                                                    "owner",
                                                    "General Director"
                                                ],
                                                "exclude_title": [
                                                    "junior",
                                                    "assistant",
                                                    "intern"
                                                ],
                                                "location": [
                                                    "WORLD"
                                                ],
                                                "include_headline_search": false
                                            }
                                        ]
                                    },
                                    "max_results": {
                                        "type": "number",
                                        "example": 10
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                                        "max_results": 2,
                                        "results_length": 2,
                                        "results": [
                                            {
                                                "full_name": "Lionel Pereira",
                                                "first_name": "Lionel",
                                                "last_name": "Pereira",
                                                "job_title": "Director Sales Enterprise & Agency",
                                                "linkedin_headline": "Director Sales Enterprise & Agency @ Welcome to the Jungle",
                                                "company_domain": "welcometothejungle.com",
                                                "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                                                "person_linkedin_url": "https://www.linkedin.com/in/lionelpereira",
                                                "country": "France",
                                                "icp": 2,
                                                "ranking": 1,
                                                "what_matched": [
                                                    {
                                                        "value": "Director Sales Enterprise & Agency",
                                                        "key": "job_title"
                                                    },
                                                    {
                                                        "value": "Director Sales Enterprise & Agency @ Welcome to the Jungle",
                                                        "key": "linkedin_headline"
                                                    }
                                                ]
                                            },
                                            {
                                                "full_name": "Sandrine Fostinelli",
                                                "first_name": "Sandrine",
                                                "last_name": "Fostinelli",
                                                "job_title": "Product Marketing Director",
                                                "linkedin_headline": "Head of Product Marketing",
                                                "company_domain": "welcometothejungle.com",
                                                "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                                                "person_linkedin_url": "https://www.linkedin.com/in/sandrine-fostinelli",
                                                "country": "France",
                                                "icp": 3,
                                                "ranking": 2,
                                                "what_matched": [
                                                    {
                                                        "value": "Product Marketing Director",
                                                        "key": "job_title"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment Required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "message": "Insufficient credits balance"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "success": false,
                                        "error": {
                                            "code": "INVALID_INPUT",
                                            "message": "Missing required fields"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "success": false,
                                        "message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/search/waterfall-icp-real-time": {
            "post": {
                "tags": [
                    "search"
                ],
                "summary": "Waterfall ICP Real Time",
                "description": "cost: 3 credits per result (max = max_results)",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "company_linkedin_url": {
                                        "type": "string",
                                        "example": "https://www.linkedin.com/company/wttj-fr"
                                    },
                                    "cascade": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "include_title": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "exclude_title": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "location": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "include_headline_search": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "example": [
                                            {
                                                "include_title": [
                                                    "Marketing Director",
                                                    "Head Marketing",
                                                    "Chief Marketing Officer"
                                                ],
                                                "exclude_title": [
                                                    "assistant",
                                                    "intern",
                                                    "product",
                                                    "junior"
                                                ],
                                                "location": [
                                                    "WORLD"
                                                ],
                                                "include_headline_search": false
                                            },
                                            {
                                                "include_title": [
                                                    "Marketing Manager",
                                                    "Head Growth",
                                                    "Growth manager"
                                                ],
                                                "exclude_title": [
                                                    "junior",
                                                    "assistant",
                                                    "intern",
                                                    "hacker"
                                                ],
                                                "location": [
                                                    "WORLD"
                                                ],
                                                "include_headline_search": false
                                            },
                                            {
                                                "include_title": [
                                                    "Communication Director",
                                                    "Brand Director",
                                                    "Content Director"
                                                ],
                                                "exclude_title": [
                                                    "junior",
                                                    "assistant",
                                                    "intern",
                                                    "UX",
                                                    "UI",
                                                    "Design"
                                                ],
                                                "location": [
                                                    "WORLD"
                                                ],
                                                "include_headline_search": false
                                            },
                                            {
                                                "include_title": [
                                                    "Communication Manager",
                                                    "Brand Manager",
                                                    "Content Manager"
                                                ],
                                                "exclude_title": [
                                                    "junior",
                                                    "assistant",
                                                    "intern"
                                                ],
                                                "location": [
                                                    "WORLD"
                                                ],
                                                "include_headline_search": false
                                            },
                                            {
                                                "include_title": [
                                                    "Communication",
                                                    "marketing",
                                                    "growth",
                                                    "brand"
                                                ],
                                                "exclude_title": [
                                                    "junior",
                                                    "assistant",
                                                    "intern",
                                                    "product"
                                                ],
                                                "location": [
                                                    "US",
                                                    "CA"
                                                ],
                                                "include_headline_search": true
                                            },
                                            {
                                                "include_title": [
                                                    "CEO",
                                                    "founder",
                                                    "cofounder",
                                                    "owner",
                                                    "General Director"
                                                ],
                                                "exclude_title": [
                                                    "junior",
                                                    "assistant",
                                                    "intern"
                                                ],
                                                "location": [
                                                    "WORLD"
                                                ],
                                                "include_headline_search": false
                                            }
                                        ]
                                    },
                                    "max_results": {
                                        "type": "number",
                                        "example": 10
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                                        "max_results": 2,
                                        "results_length": 2,
                                        "results": [
                                            {
                                                "full_name": "Lionel Pereira",
                                                "first_name": "Lionel",
                                                "last_name": "Pereira",
                                                "job_title": "Director Sales Enterprise & Agency",
                                                "linkedin_headline": "Director Sales Enterprise & Agency @ Welcome to the Jungle",
                                                "company_domain": "welcometothejungle.com",
                                                "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                                                "person_linkedin_url": "https://www.linkedin.com/in/lionelpereira",
                                                "country": "France",
                                                "icp": 2,
                                                "ranking": 1,
                                                "what_matched": [
                                                    {
                                                        "value": "Director Sales Enterprise & Agency",
                                                        "key": "job_title"
                                                    },
                                                    {
                                                        "value": "Director Sales Enterprise & Agency @ Welcome to the Jungle",
                                                        "key": "linkedin_headline"
                                                    }
                                                ]
                                            },
                                            {
                                                "full_name": "Sandrine Fostinelli",
                                                "first_name": "Sandrine",
                                                "last_name": "Fostinelli",
                                                "job_title": "Product Marketing Director",
                                                "linkedin_headline": "Head of Product Marketing",
                                                "company_domain": "welcometothejungle.com",
                                                "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                                                "person_linkedin_url": "https://www.linkedin.com/in/sandrine-fostinelli",
                                                "country": "France",
                                                "icp": 3,
                                                "ranking": 2,
                                                "what_matched": [
                                                    {
                                                        "value": "Product Marketing Director",
                                                        "key": "job_title"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment Required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "message": "Insufficient credits balance"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "success": false,
                                        "error": {
                                            "code": "INVALID_INPUT",
                                            "message": "Missing required fields"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "success": false,
                                        "message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}