{
  "openapi": "3.1.0",
  "info": {
    "title": "BlitzAPI – LinkedIn Enrichment API",
    "description": "API d'enrichissement LinkedIn avec architecture pass-through. Transforme des URLs LinkedIn en données structurées complètes pour les profils personnels et pages entreprises. Coût: 1 crédit par requête.",
    "version": "1.0.0",
    "contact": {
      "email": "support@blitzapi.io",
      "url": "https://blitz-api.ai/contact"
    }
  },
  "servers": [
    {
      "url": "https://api.blitzapi.io",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/enrich/linkedin/person": {
      "post": {
        "summary": "Enrichissement de profil LinkedIn personnel",
        "description": "Enrichit un profil LinkedIn personnel (/in/ ou /pub/). Retourne toutes les informations publiques disponibles avec structure paginée pour les collections. Coût: 1 crédit.",
        "tags": ["LinkedIn Enrichment"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonUrlRequest"
              },
              "examples": {
                "basic": {
                  "summary": "URL standard",
                  "value": {
                    "url": "https://www.linkedin.com/in/jane-doe"
                  }
                },
                "withSlash": {
                  "summary": "URL avec slash final",
                  "value": {
                    "url": "https://www.linkedin.com/in/jane-doe/"
                  }
                },
                "legacy": {
                  "summary": "Format ancien /pub/",
                  "value": {
                    "url": "https://www.linkedin.com/pub/john-smith/1/2/3"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profil enrichi avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonProfile"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/enrich/linkedin/company": {
      "post": {
        "summary": "Enrichissement de page entreprise LinkedIn",
        "description": "Enrichit une page entreprise LinkedIn (/company/). Retourne toutes les informations publiques disponibles. Coût: 1 crédit.",
        "tags": ["LinkedIn Enrichment"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyUrlRequest"
              },
              "examples": {
                "basic": {
                  "summary": "URL standard",
                  "value": {
                    "url": "https://www.linkedin.com/company/apple"
                  }
                },
                "withSlash": {
                  "summary": "URL avec slash final",
                  "value": {
                    "url": "https://www.linkedin.com/company/microsoft/"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Entreprise enrichie avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyProfile"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PersonUrlRequest": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "pattern": "^https?://(www\\.)?linkedin\\.com/(in|pub|company)/[A-Za-z0-9\\-_.%]+/?$",
            "description": "URL LinkedIn du profil. Sous-domaines pays (fr.linkedin.com) non acceptés.",
            "examples": [
              "https://www.linkedin.com/in/jane-doe",
              "https://www.linkedin.com/in/jane-doe/",
              "https://linkedin.com/in/jane-doe/",
              "https://www.linkedin.com/in/jane-doe/1/2/3",
              "https://www.linkedin.com/pub/jane-doe/1/2/3"
            ]
          }
        }
      },
      "CompanyUrlRequest": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "pattern": "^https?://(www\\.)?linkedin\\.com/(in|pub|company)/[A-Za-z0-9\\-_.%]+/?$",
            "description": "URL LinkedIn de l'entreprise. Sous-domaines pays (fr.linkedin.com) non acceptés.",
            "examples": [
              "https://www.linkedin.com/company/apple",
              "https://www.linkedin.com/company/apple/",
              "https://linkedin.com/company/apple/",
              "https://www.linkedin.com/company/apple/1/2/3"
            ]
          }
        }
      },
      "PersonProfile": {
        "type": "object",
        "description": "Structure complète d'un profil LinkedIn personnel avec sections paginées",
        "properties": {
          "url": {
            "type": "string",
            "description": "URL du profil LinkedIn"
          },
          "identifier": {
            "type": "string",
            "description": "Identifiant dans l'URL"
          },
          "entityUrn": {
            "type": "string",
            "description": "URN unique LinkedIn"
          },
          "objectUrn": {
            "type": "integer",
            "description": "ID numérique unique"
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "middleName": {
            "type": ["string", "null"]
          },
          "birthDate": {
            "type": ["string", "null"]
          },
          "headline": {
            "type": "string",
            "description": "Titre professionnel actuel"
          },
          "picture": {
            "type": ["string", "null"],
            "description": "URL de la photo de profil"
          },
          "background": {
            "type": ["string", "null"],
            "description": "Image de couverture"
          },
          "openToWork": {
            "type": "boolean"
          },
          "summary": {
            "type": ["string", "null"],
            "description": "Résumé du profil"
          },
          "influencer": {
            "type": "boolean"
          },
          "premium": {
            "type": "boolean"
          },
          "industry": {
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/PersonLocation"
          },
          "organizations": {
            "$ref": "#/components/schemas/PaginatedSection"
          },
          "educations": {
            "$ref": "#/components/schemas/PaginatedSection"
          },
          "certifications": {
            "$ref": "#/components/schemas/PaginatedSection"
          },
          "positionGroups": {
            "$ref": "#/components/schemas/PaginatedSection"
          },
          "volunteerExperiences": {
            "$ref": "#/components/schemas/PaginatedSection"
          },
          "languages": {
            "$ref": "#/components/schemas/PaginatedSection"
          },
          "skills": {
            "$ref": "#/components/schemas/PaginatedSection"
          },
          "patents": {
            "$ref": "#/components/schemas/PaginatedSection"
          },
          "awards": {
            "$ref": "#/components/schemas/PaginatedSection"
          },
          "projects": {
            "$ref": "#/components/schemas/PaginatedSection"
          },
          "publications": {
            "$ref": "#/components/schemas/PaginatedSection"
          },
          "courses": {
            "$ref": "#/components/schemas/PaginatedSection"
          },
          "testScores": {
            "$ref": "#/components/schemas/PaginatedSection"
          }
        }
      },
      "CompanyProfile": {
        "type": "object",
        "description": "Structure complète d'une page entreprise LinkedIn",
        "properties": {
          "url": {
            "type": "string",
            "description": "URL de la page LinkedIn"
          },
          "name": {
            "type": "string",
            "description": "Nom de l'entreprise"
          },
          "universalName": {
            "type": "string",
            "description": "Identifiant unique LinkedIn"
          },
          "type": {
            "type": "string",
            "description": "Type d'entreprise",
            "examples": ["Privately Held", "Public Company", "Non-profit"]
          },
          "objectUrn": {
            "type": "integer",
            "description": "ID numérique unique"
          },
          "description": {
            "type": ["string", "null"],
            "description": "Description détaillée de l'entreprise"
          },
          "phone": {
            "type": ["string", "null"]
          },
          "followers": {
            "type": "integer",
            "description": "Nombre de followers"
          },
          "website": {
            "type": ["string", "null"],
            "format": "uri"
          },
          "logo": {
            "type": ["string", "null"],
            "format": "uri"
          },
          "cover": {
            "type": ["string", "null"],
            "format": "uri",
            "description": "Image de couverture"
          },
          "tagline": {
            "type": ["string", "null"],
            "description": "Slogan de l'entreprise"
          },
          "foundedYear": {
            "type": ["integer", "null"]
          },
          "staff": {
            "$ref": "#/components/schemas/CompanyStaff"
          },
          "locations": {
            "$ref": "#/components/schemas/CompanyLocations"
          },
          "fundingData": {
            "type": ["object", "null"]
          },
          "specialities": {
            "type": ["array", "null"],
            "items": {
              "type": "string"
            }
          },
          "industries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hashtags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PaginatedSection": {
        "type": "object",
        "required": ["totalElements", "page", "size", "contents"],
        "properties": {
          "totalElements": {
            "type": "integer",
            "description": "Nombre total d'éléments"
          },
          "page": {
            "type": "integer",
            "description": "Page actuelle"
          },
          "size": {
            "type": "integer",
            "description": "Taille de page"
          },
          "contents": {
            "type": "array",
            "description": "Contenu de la section",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "PersonLocation": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "defaultValue": {
            "type": "string"
          },
          "shortValue": {
            "type": "string"
          }
        }
      },
      "CompanyStaff": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Nombre d'employés sur LinkedIn"
          },
          "range": {
            "type": "object",
            "properties": {
              "start": {
                "type": "integer"
              },
              "end": {
                "type": "integer"
              }
            }
          }
        }
      },
      "CompanyLocations": {
        "type": "object",
        "properties": {
          "headquarter": {
            "$ref": "#/components/schemas/Location"
          },
          "other": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Location"
            }
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "description": "Code pays ISO"
          },
          "geographicArea": {
            "type": ["string", "null"]
          },
          "city": {
            "type": "string"
          },
          "postalCode": {
            "type": ["string", "null"]
          },
          "line1": {
            "type": ["string", "null"]
          },
          "line2": {
            "type": ["string", "null"]
          },
          "isPrimary": {
            "type": ["boolean", "null"]
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Code d'erreur"
          },
          "message": {
            "type": "string",
            "description": "Description de l'erreur"
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Clé API manquante ou invalide",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Missing API key",
              "message": "Please provide a valid API key in the 'Authorization' header"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Entité non traitable - URL invalide ou champs requis manquants",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "UNPROCESSABLE_ENTITY",
              "message": "Invalid input or missing required fields"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Erreur serveur interne",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "INTERNAL_SERVER_ERROR",
              "message": "An error occurred while processing your request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authentification Bearer Token. Format: Bearer YOUR_API_KEY"
      }
    }
  },
  "tags": [
    {
      "name": "LinkedIn Enrichment",
      "description": "Endpoints d'enrichissement de profils LinkedIn (1 crédit par requête)"
    }
  ]
}