{
  "openapi": "3.1.0",
  "info": {
    "title": "Blitz OpenAPI Reference",
    "version": "1.0.0",
    "description": "Bienvenue sur la référence API de Blitz. Ici, vous pouvez tester les endpoints directement.\n\nPour des tutoriels complets et des explications sur la logique métier, consultez notre [Guide Utilisateur](/guide/introduction)."
  },
  "servers": [
    {
      "url": "https://api.blitz-api.ai",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "APIKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Votre clé API Blitz. Disponible sur votre [Dashboard](https://app.blitzapi.io)."
      }
    },
    "schemas": {
      "LinkedInProfileURLRequest": {
        "type": "object",
        "properties": {
          "linkedin_profile_url": {
            "type": "string",
            "format": "uri",
            "description": "L'URL publique du profil LinkedIn (ex: `https://www.linkedin.com/in/username`)."
          }
        },
        "required": [
          "linkedin_profile_url"
        ]
      },
      "LinkedInCompanyURLRequest": {
        "type": "object",
        "properties": {
          "linkedin_company_url": {
            "type": "string",
            "format": "uri",
            "description": "L'URL de la page entreprise LinkedIn."
          }
        },
        "required": [
          "linkedin_company_url"
        ]
      },
      "EmailValidationRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "L'adresse email à analyser."
          }
        },
        "required": [
          "email"
        ]
      },
      "CascadeStep": {
        "type": "object",
        "properties": {
          "include_title": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Liste des titres de poste recherchés (ex: `['CEO', 'Founder']`)."
          },
          "exclude_title": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Mots-clés à exclure (ex: `['Assistant', 'Intern']`)."
          },
          "location": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Codes pays LinkedIn (ex: `['US', 'FR']` ou `['WORLD']`)."
          },
          "include_headline_search": {
            "type": "boolean",
            "description": "Si `true`, recherche aussi dans la bio (headline) et pas seulement le titre de poste actuel."
          }
        },
        "required": [
          "include_title"
        ]
      },
      "WaterfallICPRequest": {
        "type": "object",
        "properties": {
          "company_linkedin_url": {
            "type": "string",
            "format": "uri",
            "description": "L'URL de l'entreprise cible."
          },
          "cascade": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CascadeStep"
            },
            "description": "La liste ordonnée des critères de recherche."
          },
          "max_results": {
            "type": "integer",
            "description": "Nombre maximum de profils à retourner."
          }
        },
        "required": [
          "company_linkedin_url",
          "cascade",
          "max_results"
        ]
      },
      "PhoneEnrichmentResponse": {
        "type": "object",
        "properties": {
          "found": {
            "type": "boolean",
            "description": "Indique si un numéro a été trouvé."
          },
          "phone": {
            "type": "string",
            "description": "Le numéro de téléphone au format international."
          }
        },
        "required": [
          "found"
        ]
      },
      "EmailEnrichmentResponse": {
        "type": "object",
        "properties": {
          "found": {
            "type": "boolean",
            "description": "Indique si un email a été trouvé."
          },
          "email": {
            "type": "string",
            "description": "L'email professionnel vérifié."
          }
        },
        "required": [
          "found"
        ]
      },
      "EmailDomainResponse": {
        "type": "object",
        "properties": {
          "found": {
            "type": "boolean",
            "description": "Succès de la recherche."
          },
          "email_domain": {
            "type": "string",
            "description": "Le nom de domaine (ex: `apple.com`)."
          }
        },
        "required": [
          "found"
        ]
      },
      "KeyInfoResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifiant partiel de la clé."
          },
          "credits_balance": {
            "type": "integer",
            "description": "Solde de crédits restant."
          },
          "credits_reset_at": {
            "type": "string",
            "description": "Date du prochain renouvellement."
          },
          "active_plans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivePlan"
            },
            "description": "Liste des abonnements actifs."
          }
        },
        "required": [
          "id",
          "credits_balance",
          "credits_reset_at",
          "active_plans"
        ]
      },
      "ActivePlan": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nom du plan (Pro, Ultra, Mega)."
          },
          "status": {
            "type": "string",
            "description": "État du plan."
          }
        },
        "required": [
          "name",
          "status"
        ]
      },
      "EmailValidationResponse": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "L'email analysé."
          },
          "status": {
            "type": "string",
            "description": "Résultat: `valid`, `invalid`, ou `catch-all`."
          }
        },
        "required": [
          "email",
          "status"
        ]
      },
      "MatchDetail": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Le champ qui a déclenché le match."
          },
          "value": {
            "type": "string",
            "description": "La valeur trouvée."
          }
        },
        "required": [
          "key",
          "value"
        ]
      },
      "WaterfallICPResult": {
        "type": "object",
        "properties": {
          "full_name": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "job_title": {
            "type": "string"
          },
          "linkedin_headline": {
            "type": "string"
          },
          "company_domain": {
            "type": "string"
          },
          "company_linkedin_url": {
            "type": "string",
            "format": "uri"
          },
          "person_linkedin_url": {
            "type": "string",
            "format": "uri"
          },
          "country": {
            "type": "string"
          },
          "icp": {
            "type": "integer",
            "description": "L'index de l'étape de cascade qui a matché (1 = première étape)."
          },
          "ranking": {
            "type": "integer"
          },
          "what_matched": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MatchDetail"
            },
            "description": "Détails sur pourquoi ce profil a été sélectionné."
          }
        }
      },
      "WaterfallICPResponse": {
        "type": "object",
        "properties": {
          "company_linkedin_url": {
            "type": "string",
            "format": "uri"
          },
          "max_results": {
            "type": "integer"
          },
          "results_length": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WaterfallICPResult"
            },
            "description": "Liste des profils trouvés."
          }
        },
        "required": [
          "company_linkedin_url",
          "max_results",
          "results_length",
          "results"
        ]
      },
      "ErrorMessageResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Description de l'erreur."
          }
        },
        "required": [
          "message"
        ]
      },
      "ServerErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Toujours false en cas d'erreur."
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "message"
        ]
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        },
        "required": [
          "success",
          "error"
        ]
      }
    }
  },
  "paths": {
    "/api/enrichment/phone": {
      "post": {
        "summary": "Find Phone Number",
        "description": "### 💰 Cost: 3 Credits (on success)\n\nLocate a verified direct business phone number using LinkedIn context.\n\n> **Note:** Ideal for multichannel cadences or phoning-first strategies.\n\n[View Recipes](/guide/recipes/crm-hygiene#3-find-phone-numbers)",
        "tags": [
          "enrichment"
        ],
        "security": [
          {
            "APIKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedInProfileURLRequest"
              },
              "example": {
                "linkedin_profile_url": "https://www.linkedin.com/in/antoine-blitz-5581b7373"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - Phone Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneEnrichmentResponse"
                },
                "example": {
                  "found": true,
                  "phone": "+1234567890"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                },
                "example": {
                  "message": "Missing API key"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                },
                "example": {
                  "message": "Insufficient credits balance"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/enrichment/email": {
      "post": {
        "summary": "Find work email",
        "description": "### 💰 Cost: 1 Credit (on success)\n\nFrom a LinkedIn profile URL, instantly find a verified work email. Emails are validated in real time (catch-all included).\n\n[See Quickstart Guide](/guide/getting-started/quickstart)",
        "tags": [
          "enrichment"
        ],
        "security": [
          {
            "APIKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedInProfileURLRequest"
              },
              "example": {
                "linkedin_profile_url": "https://www.linkedin.com/in/antoine-blitz-5581b7373"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - Email Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailEnrichmentResponse"
                },
                "example": {
                  "found": true,
                  "email": "antoine@blitz-agency.com"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/enrichment/email_domain": {
      "post": {
        "summary": "Email Domain Finder",
        "description": "### 💰 Cost: 0.5 Credits (on success)\n\nBridge the gap between LinkedIn and email domains. Given a company’s LinkedIn URL, find its verified email domain.",
        "tags": [
          "enrichment"
        ],
        "security": [
          {
            "APIKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedInCompanyURLRequest"
              },
              "example": {
                "linkedin_company_url": "https://www.linkedin.com/company/blitz-api"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - Domain Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailDomainResponse"
                },
                "example": {
                  "found": true,
                  "email_domain": "example.com"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/blitz/key-info": {
      "get": {
        "summary": "Get API Key info",
        "description": "### 💰 Cost: 0 Credits\n\nCheck your current balance, plan status, and key validity.\n\n[Authentication Guide](/guide/getting-started/authentication)",
        "tags": [
          "blitz"
        ],
        "security": [
          {
            "APIKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyInfoResponse"
                },
                "example": {
                  "id": "ID",
                  "credits_balance": 278,
                  "credits_reset_at": "25/11/2025, 00:00:00 AM",
                  "active_plans": [
                    {
                      "name": "PRO",
                      "status": "active"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/email/validate": {
      "post": {
        "tags": [
          "email"
        ],
        "summary": "Catch-all Email Validation",
        "description": "### 💰 Cost: 0.5 Credits\n\nPerform a deep SMTP check to validate the deliverability of an email address. Detects catch-all configurations.",
        "security": [
          {
            "APIKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailValidationRequest"
              },
              "example": {
                "email": "antoine@blitz-agency.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailValidationResponse"
                },
                "example": {
                  "email": "antoine@blitz-agency.com",
                  "status": "valid"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/search/waterfall-icp": {
      "post": {
        "tags": [
          "search"
        ],
        "summary": "Waterfall ICP",
        "description": "### 💰 Cost: 1 Credit per result\n\nThis is the core engine for Account-Based Prospecting. Define an ICP hierarchy (e.g. CEO → VP Sales), and BlitzAPI will search progressively through each level until a decision-maker is found.\n\n[Understand the Logic](/guide/concepts/waterfall-logic)\n\n#### How to use `cascade`\nThis parameter is an array of objects. Each object represents a search step:\n1.  **Level 1**: Search for C-Levels.\n2.  **Level 2**: Search for VPs.\n3.  **Level 3**: Search for Directors.",
        "security": [
          {
            "APIKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WaterfallICPRequest"
              },
              "example": {
                "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                "cascade": [
                  {
                    "include_title": [
                      "Founder",
                      "CEO"
                    ],
                    "location": [
                      "US",
                      "CA"
                    ],
                    "include_headline_search": false
                  },
                  {
                    "include_title": [
                      "VP Sales",
                      "Head of Sales"
                    ],
                    "location": [
                      "WORLD"
                    ],
                    "include_headline_search": true
                  }
                ],
                "max_results": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - Search Results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaterfallICPResponse"
                },
                "example": {
                  "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                  "max_results": 2,
                  "results_length": 2,
                  "results": [
                    {
                      "full_name": "Lionel Pereira",
                      "first_name": "Lionel",
                      "last_name": "Pereira",
                      "job_title": "Director Sales",
                      "company_domain": "welcometothejungle.com",
                      "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                      "person_linkedin_url": "https://www.linkedin.com/in/lionelpereira",
                      "country": "France",
                      "icp": 2,
                      "ranking": 1,
                      "what_matched": [
                        {
                          "value": "Director Sales",
                          "key": "job_title"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/search/waterfall-icp-real-time": {
      "post": {
        "tags": [
          "search"
        ],
        "summary": "Waterfall ICP Real Time",
        "description": "### 💰 Cost: 3 Credits per result\n\nSimilar to the standard Waterfall search, but queries the LinkedIn network **live**. Use this for niche targets or when the standard search yields no results.\n\n> **Warning:** Latency is higher (3-5 seconds).",
        "security": [
          {
            "APIKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WaterfallICPRequest"
              },
              "example": {
                "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                "cascade": [
                  {
                    "include_title": [
                      "CEO"
                    ],
                    "location": [
                      "US"
                    ],
                    "include_headline_search": false
                  }
                ],
                "max_results": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - Live Results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaterfallICPResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}