{
  "openapi": "3.1.0",
  "info": {
    "title": "Blitz OpenAPI Reference",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.blitz-api.ai",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "APIKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for the Blitz API"
      }
    },
    "schemas": {
      "LinkedInProfileURLRequest": {
        "type": "object",
        "properties": {
          "linkedin_profile_url": {
            "type": "string",
            "format": "uri",
            "description": "LinkedIn profile URL of the person"
          }
        },
        "required": [
          "linkedin_profile_url"
        ]
      },
      "LinkedInCompanyURLRequest": {
        "type": "object",
        "properties": {
          "linkedin_company_url": {
            "type": "string",
            "format": "uri",
            "description": "LinkedIn company profile URL"
          }
        },
        "required": [
          "linkedin_company_url"
        ]
      },
      "EmailValidationRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address to validate"
          }
        },
        "required": [
          "email"
        ]
      },
      "CascadeStep": {
        "type": "object",
        "properties": {
          "include_title": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Job titles to include in search"
          },
          "exclude_title": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Job titles to exclude from search"
          },
          "location": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Locations to filter search (e.g., country codes or regions)"
          },
          "include_headline_search": {
            "type": "boolean",
            "description": "Whether to include LinkedIn headline in search criteria"
          }
        },
        "required": [
          "include_title"
        ]
      },
      "WaterfallICPRequest": {
        "type": "object",
        "properties": {
          "company_linkedin_url": {
            "type": "string",
            "format": "uri",
            "description": "LinkedIn company profile URL for the search"
          },
          "cascade": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CascadeStep"
            },
            "description": "Cascade steps of search criteria"
          },
          "max_results": {
            "type": "integer",
            "description": "Maximum number of results to retrieve"
          }
        },
        "required": [
          "company_linkedin_url",
          "cascade",
          "max_results"
        ]
      },
      "PhoneEnrichmentResponse": {
        "type": "object",
        "properties": {
          "found": {
            "type": "boolean",
            "description": "Whether a phone number was found"
          },
          "phone": {
            "type": "string",
            "description": "Phone number (present if found is true)"
          }
        },
        "required": [
          "found"
        ]
      },
      "EmailEnrichmentResponse": {
        "type": "object",
        "properties": {
          "found": {
            "type": "boolean",
            "description": "Whether an email was found"
          },
          "email": {
            "type": "string",
            "description": "Email address (present if found is true)"
          }
        },
        "required": [
          "found"
        ]
      },
      "EmailDomainResponse": {
        "type": "object",
        "properties": {
          "found": {
            "type": "boolean",
            "description": "Whether an email domain was found"
          },
          "email_domain": {
            "type": "string",
            "description": "Email domain (present if found is true)"
          }
        },
        "required": [
          "found"
        ]
      },
      "KeyInfoResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "API Key identifier"
          },
          "credits_balance": {
            "type": "integer",
            "description": "Remaining credits balance"
          },
          "credits_reset_at": {
            "type": "string",
            "description": "Next reset time for credits"
          },
          "active_plans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivePlan"
            },
            "description": "List of active subscription plans"
          }
        },
        "required": [
          "id",
          "credits_balance",
          "credits_reset_at",
          "active_plans"
        ]
      },
      "ActivePlan": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the plan"
          },
          "status": {
            "type": "string",
            "description": "Status of the plan (e.g., active)"
          }
        },
        "required": [
          "name",
          "status"
        ]
      },
      "EmailValidationResponse": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address that was validated"
          },
          "status": {
            "type": "string",
            "description": "Validation status (e.g., 'valid' or 'invalid')"
          }
        },
        "required": [
          "email",
          "status"
        ]
      },
      "MatchDetail": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Field that matched the search"
          },
          "value": {
            "type": "string",
            "description": "Value of the field that matched"
          }
        },
        "required": [
          "key",
          "value"
        ]
      },
      "WaterfallICPResult": {
        "type": "object",
        "properties": {
          "full_name": {
            "type": "string",
            "description": "Full name of the person"
          },
          "first_name": {
            "type": "string",
            "description": "First name of the person"
          },
          "last_name": {
            "type": "string",
            "description": "Last name of the person"
          },
          "job_title": {
            "type": "string",
            "description": "Job title of the person"
          },
          "linkedin_headline": {
            "type": "string",
            "description": "LinkedIn headline of the person"
          },
          "company_domain": {
            "type": "string",
            "description": "Domain of the company"
          },
          "company_linkedin_url": {
            "type": "string",
            "format": "uri",
            "description": "LinkedIn URL of the company"
          },
          "person_linkedin_url": {
            "type": "string",
            "format": "uri",
            "description": "LinkedIn URL of the person"
          },
          "country": {
            "type": "string",
            "description": "Country of the person"
          },
          "icp": {
            "type": "integer",
            "description": "ICP group or category"
          },
          "ranking": {
            "type": "integer",
            "description": "Ranking of the result"
          },
          "what_matched": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MatchDetail"
            },
            "description": "List of criteria that matched for this person"
          }
        }
      },
      "WaterfallICPResponse": {
        "type": "object",
        "properties": {
          "company_linkedin_url": {
            "type": "string",
            "format": "uri",
            "description": "LinkedIn company URL that was searched"
          },
          "max_results": {
            "type": "integer",
            "description": "Maximum results requested"
          },
          "results_length": {
            "type": "integer",
            "description": "Number of results returned"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WaterfallICPResult"
            },
            "description": "List of results matching the search criteria"
          }
        },
        "required": [
          "company_linkedin_url",
          "max_results",
          "results_length",
          "results"
        ]
      },
      "ErrorMessageResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          }
        },
        "required": [
          "message"
        ]
      },
      "ServerErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Success status (false for error)"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        },
        "required": [
          "success",
          "message"
        ]
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Error message detail"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Success status (false for error)"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        },
        "required": [
          "success",
          "error"
        ]
      }
    }
  },
  "paths": {
    "/api/enrichment/phone": {
      "post": {
        "summary": "Find Phone Number",
        "description": "cost: 3 credits on success",
        "tags": [
          "enrichment"
        ],
        "security": [
          {
            "APIKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedInProfileURLRequest"
              },
              "example": {
                "linkedin_profile_url": "https://www.linkedin.com/in/antoine-blitz-5581b7373"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneEnrichmentResponse"
                },
                "example": {
                  "found": true,
                  "phone": "+1234567890"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                },
                "example": {
                  "message": "Missing API key, please provide a valid API key in the 'x-api-key' header"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                },
                "example": {
                  "message": "Insufficient credits balance"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
                }
              }
            }
          }
        }
      }
    },
    "/api/enrichment/email": {
      "post": {
        "summary": "Find work email",
        "description": "cost: 1 credit on success",
        "tags": [
          "enrichment"
        ],
        "security": [
          {
            "APIKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedInProfileURLRequest"
              },
              "example": {
                "linkedin_profile_url": "https://www.linkedin.com/in/antoine-blitz-5581b7373"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailEnrichmentResponse"
                },
                "example": {
                  "found": true,
                  "email": "antoine@blitz-agency.com"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                },
                "example": {
                  "message": "Missing API key, please provide a valid API key in the 'x-api-key' header"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                },
                "example": {
                  "message": "Insufficient credits balance"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
                }
              }
            }
          }
        }
      }
    },
    "/api/enrichment/email_domain": {
      "post": {
        "summary": "Email Domain Finder",
        "description": "cost: 0.5 credits on success",
        "tags": [
          "enrichment"
        ],
        "security": [
          {
            "APIKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedInCompanyURLRequest"
              },
              "example": {
                "linkedin_company_url": "https://www.linkedin.com/company/blitz-api"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailDomainResponse"
                },
                "example": {
                  "found": true,
                  "email_domain": "example.com"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                },
                "example": {
                  "message": "Missing API key, please provide a valid API key in the 'x-api-key' header"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                },
                "example": {
                  "message": "Insufficient credits balance"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
                }
              }
            }
          }
        }
      }
    },
    "/api/blitz/key-info": {
      "get": {
        "summary": "Get API Key info",
        "description": "cost: 0 credits",
        "tags": [
          "blitz"
        ],
        "security": [
          {
            "APIKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyInfoResponse"
                },
                "example": {
                  "id": "ID",
                  "credits_balance": 278,
                  "credits_reset_at": "25/11/2025, 00:00:00 AM",
                  "active_plans": [
                    {
                      "name": "plan name",
                      "status": "active"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                },
                "example": {
                  "message": "Missing API key, please provide a valid API key in the 'x-api-key' header"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                },
                "example": {
                  "message": "API Key not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
                }
              }
            }
          }
        }
      }
    },
    "/api/email/validate": {
      "post": {
        "tags": [
          "email"
        ],
        "summary": "Catch-all Email Validation",
        "description": "cost: 0.5 credits on success",
        "security": [
          {
            "APIKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailValidationRequest"
              },
              "example": {
                "email": "antoine@blitz-agency.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailValidationResponse"
                },
                "example": {
                  "email": "antoine@blitz-agency.com",
                  "status": "valid"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                },
                "example": {
                  "message": "Missing API key, please provide a valid API key in the 'x-api-key' header"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                },
                "example": {
                  "message": "Insufficient credits balance"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
                }
              }
            }
          }
        }
      }
    },
    "/api/search/waterfall-icp": {
      "post": {
        "tags": [
          "search"
        ],
        "summary": "Waterfall ICP",
        "description": "cost: 1 credit per result (max = max_results)",
        "security": [
          {
            "APIKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WaterfallICPRequest"
              },
              "example": {
                "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                "cascade": [
                  {
                    "include_title": [
                      "Founder",
                      "Co-Founder",
                      "Chief Executive Officer",
                      "CEO",
                      "Owner",
                      "President"
                    ],
                    "location": [
                      "US",
                      "CA"
                    ],
                    "include_headline_search": false
                  },
                  {
                    "include_title": [
                      "Chief Sales Officer",
                      "CSO",
                      "VP Sales",
                      "Vice President Sales",
                      "Head of Sales",
                      "Sales Director"
                    ],
                    "location": [
                      "WORLD"
                    ],
                    "include_headline_search": true
                  },
                  {
                    "include_title": [
                      "Chief Marketing Officer",
                      "CMO",
                      "Marketing Director",
                      "Director of Marketing"
                    ],
                    "exclude_title": [
                      "Assistant",
                      "Executive Assistant",
                      "Intern"
                    ],
                    "include_headline_search": true
                  }
                ],
                "max_results": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaterfallICPResponse"
                },
                "example": {
                  "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                  "max_results": 2,
                  "results_length": 2,
                  "results": [
                    {
                      "full_name": "Lionel Pereira",
                      "first_name": "Lionel",
                      "last_name": "Pereira",
                      "job_title": "Director Sales Enterprise & Agency",
                      "linkedin_headline": "Director Sales Enterprise & Agency @ Welcome to the Jungle",
                      "company_domain": "welcometothejungle.com",
                      "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                      "person_linkedin_url": "https://www.linkedin.com/in/lionelpereira",
                      "country": "France",
                      "icp": 2,
                      "ranking": 1,
                      "what_matched": [
                        {
                          "value": "Director Sales Enterprise & Agency",
                          "key": "job_title"
                        },
                        {
                          "value": "Director Sales Enterprise & Agency @ Welcome to the Jungle",
                          "key": "linkedin_headline"
                        }
                      ]
                    },
                    {
                      "full_name": "Sandrine Fostinelli",
                      "first_name": "Sandrine",
                      "last_name": "Fostinelli",
                      "job_title": "Product Marketing Director",
                      "linkedin_headline": "Head of Product Marketing",
                      "company_domain": "welcometothejungle.com",
                      "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                      "person_linkedin_url": "https://www.linkedin.com/in/sandrine-fostinelli",
                      "country": "France",
                      "icp": 3,
                      "ranking": 2,
                      "what_matched": [
                        {
                          "value": "Product Marketing Director",
                          "key": "job_title"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                },
                "example": {
                  "message": "Missing API key, please provide a valid API key in the 'x-api-key' header"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                },
                "example": {
                  "message": "Insufficient credits balance"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INVALID_INPUT",
                    "message": "Missing required fields"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
                }
              }
            }
          }
        }
      }
    },
    "/api/search/waterfall-icp-real-time": {
      "post": {
        "tags": [
          "search"
        ],
        "summary": "Waterfall ICP Real Time",
        "description": "cost: 3 credits per result (max = max_results)",
        "security": [
          {
            "APIKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WaterfallICPRequest"
              },
              "example": {
                "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                "cascade": [
                  {
                    "include_title": [
                      "Founder",
                      "Co-Founder",
                      "Chief Executive Officer",
                      "CEO",
                      "Owner",
                      "President"
                    ],
                    "location": [
                      "US",
                      "CA"
                    ],
                    "include_headline_search": false
                  },
                  {
                    "include_title": [
                      "Chief Sales Officer",
                      "CSO",
                      "VP Sales",
                      "Vice President Sales",
                      "Head of Sales",
                      "Sales Director"
                    ],
                    "location": [
                      "WORLD"
                    ],
                    "include_headline_search": true
                  },
                  {
                    "include_title": [
                      "Chief Marketing Officer",
                      "CMO",
                      "Marketing Director",
                      "Director of Marketing"
                    ],
                    "exclude_title": [
                      "Assistant",
                      "Executive Assistant",
                      "Intern"
                    ],
                    "include_headline_search": true
                  }
                ],
                "max_results": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaterfallICPResponse"
                },
                "example": {
                  "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                  "max_results": 2,
                  "results_length": 2,
                  "results": [
                    {
                      "full_name": "Lionel Pereira",
                      "first_name": "Lionel",
                      "last_name": "Pereira",
                      "job_title": "Director Sales Enterprise & Agency",
                      "linkedin_headline": "Director Sales Enterprise & Agency @ Welcome to the Jungle",
                      "company_domain": "welcometothejungle.com",
                      "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                      "person_linkedin_url": "https://www.linkedin.com/in/lionelpereira",
                      "country": "France",
                      "icp": 2,
                      "ranking": 1,
                      "what_matched": [
                        {
                          "value": "Director Sales Enterprise & Agency",
                          "key": "job_title"
                        },
                        {
                          "value": "Director Sales Enterprise & Agency @ Welcome to the Jungle",
                          "key": "linkedin_headline"
                        }
                      ]
                    },
                    {
                      "full_name": "Sandrine Fostinelli",
                      "first_name": "Sandrine",
                      "last_name": "Fostinelli",
                      "job_title": "Product Marketing Director",
                      "linkedin_headline": "Head of Product Marketing",
                      "company_domain": "welcometothejungle.com",
                      "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                      "person_linkedin_url": "https://www.linkedin.com/in/sandrine-fostinelli",
                      "country": "France",
                      "icp": 3,
                      "ranking": 2,
                      "what_matched": [
                        {
                          "value": "Product Marketing Director",
                          "key": "job_title"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                },
                "example": {
                  "message": "Missing API key, please provide a valid API key in the 'x-api-key' header"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageResponse"
                },
                "example": {
                  "message": "Insufficient credits balance"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INVALID_INPUT",
                    "message": "Missing required fields"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
                }
              }
            }
          }
        }
      }
    }
  }
}