{
  "openapi": "3.1.0",
  "info": {
    "title": "Blitz API Reference",
    "version": "2.0.0",
    "description": "Welcome to the Blitz API Reference.\n\nUse this interactive documentation to explore and test every v2 endpoint. Authentication is required via the `x-api-key` header.\n\n**Base URL**: `https://api.blitz-api.ai`\n\n**Rate limit**: 5 requests per second (all plans).\n\n**Pricing**: All endpoints are unlimited on paid plans ($399+/mo). Free trial accounts receive 1,000 credits."
  },
  "servers": [
    {
      "url": "https://api.blitz-api.ai",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "APIKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Your Blitz API Key. Get one from https://app.blitz-api.ai"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "tags": [
    {
      "name": "Account",
      "description": "API key info and health check."
    },
    {
      "name": "Waterfall ICP Search",
      "description": "Priority-based cascade search — find the best-match contact at a company."
    },
    {
      "name": "Employee Finder",
      "description": "Browse all employees at a single company with filters."
    },
    {
      "name": "People Search",
      "description": "Search contacts across many companies with advanced company + people filters."
    },
    {
      "name": "Company Search",
      "description": "Search companies by industry, size, location, and keywords."
    },
    {
      "name": "People Enrichment",
      "description": "Enrich contacts with verified emails, phones, and reverse lookups."
    },
    {
      "name": "Company Enrichment",
      "description": "Enrich companies and resolve domain ↔ LinkedIn URL."
    },
    {
      "name": "Utilities",
      "description": "Helper endpoints (current date/time)."
    }
  ],
  "paths": {
    "/v2/account/key-info": {
      "get": {
        "summary": "Get API Key Details",
        "description": "Check API key validity, remaining credits, rate limit, allowed endpoints, and active subscription plans.\n\nUse this as a health check before running batch jobs.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "APIKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "valid": true,
                    "id": "XXX",
                    "remaining_credits": 99.5,
                    "next_reset_at": "2026-02-12T17:48:25.199Z",
                    "max_requests_per_seconds": 5,
                    "allowed_apis": [
                      "/search/waterfall-icp-keyword",
                      "/enrichment/email_domain",
                      "/enrichment/email"
                    ],
                    "active_plans": [
                      {
                        "name": "Startup Trial",
                        "status": "active",
                        "started_at": "2026-01-12T17:48:25.200Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Missing API key, please provide a valid API key in the 'x-api-key' header"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "API Key not found"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/search/waterfall-icp-keyword": {
      "post": {
        "tags": [
          "Waterfall ICP Search"
        ],
        "security": [
          {
            "APIKey": []
          }
        ],
        "summary": "Waterfall ICP Search",
        "description": "Find the best decision-maker at a target company using a prioritized cascade hierarchy. The engine tries each tier in order and stops as soon as `max_results` is reached.\n\n**Response**: Person data is nested inside `results[].person` (unlike Employee Finder and People Search which return it directly).\n\n`icp` = cascade tier matched (1 = highest priority). `ranking` = overall relevance in company (1 = most relevant).\n\n**Latency**: < 600ms.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_linkedin_url": {
                    "type": "string",
                    "example": "https://www.linkedin.com/company/wttj-fr"
                  },
                  "cascade": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "include_title": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "exclude_title": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "location": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "include_headline_search": {
                          "type": "boolean"
                        }
                      }
                    },
                    "example": [
                      {
                        "include_title": [
                          "Marketing Director",
                          "Head Marketing",
                          "Chief Marketing Officer"
                        ],
                        "exclude_title": [
                          "assistant",
                          "intern",
                          "product",
                          "junior"
                        ],
                        "location": [
                          "WORLD"
                        ],
                        "include_headline_search": false
                      },
                      {
                        "include_title": [
                          "Marketing Manager",
                          "Head Growth",
                          "Growth manager"
                        ],
                        "exclude_title": [
                          "junior",
                          "assistant",
                          "intern",
                          "hacker"
                        ],
                        "location": [
                          "WORLD"
                        ],
                        "include_headline_search": false
                      },
                      {
                        "include_title": [
                          "Communication Director",
                          "Brand Director",
                          "Content Director"
                        ],
                        "exclude_title": [
                          "junior",
                          "assistant",
                          "intern",
                          "UX",
                          "UI",
                          "Design"
                        ],
                        "location": [
                          "WORLD"
                        ],
                        "include_headline_search": false
                      },
                      {
                        "include_title": [
                          "Communication Manager",
                          "Brand Manager",
                          "Content Manager"
                        ],
                        "exclude_title": [
                          "junior",
                          "assistant",
                          "intern"
                        ],
                        "location": [
                          "WORLD"
                        ],
                        "include_headline_search": false
                      },
                      {
                        "include_title": [
                          "Communication",
                          "marketing",
                          "growth",
                          "brand"
                        ],
                        "exclude_title": [
                          "junior",
                          "assistant",
                          "intern",
                          "product"
                        ],
                        "location": [
                          "US",
                          "CA"
                        ],
                        "include_headline_search": true
                      },
                      {
                        "include_title": [
                          "CEO",
                          "founder",
                          "cofounder",
                          "owner",
                          "General Director"
                        ],
                        "exclude_title": [
                          "junior",
                          "assistant",
                          "intern"
                        ],
                        "location": [
                          "WORLD"
                        ],
                        "include_headline_search": false
                      }
                    ]
                  },
                  "max_results": {
                    "type": "number",
                    "example": 10
                  }
                },
                "required": [
                  "company_linkedin_url",
                  "cascade"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                    "max_results": 6,
                    "results_length": 6,
                    "results": [
                      {
                        "person": {
                          "first_name": "Melissa",
                          "last_name": "Rumor",
                          "full_name": "Melissa Rumor",
                          "nickname": null,
                          "civility_title": null,
                          "headline": "Growth & Marketing Manager B2B : Brand Strategy, Lead Gen, SEO & Content | 👀 Actively seeking new challenges",
                          "about_me": "At Welcome to the Jungle, we make work actually exciting. We do so by building innovative Employer Branding solutions that make companies attractive to workers, and by creating inspiring experiences and content that empower workers and companies to build new rules for a more sustainable work.",
                          "location": {
                            "city": "Paris",
                            "state_code": null,
                            "country_code": "FR",
                            "continent": "Europe"
                          },
                          "linkedin_url": "https://www.linkedin.com/in/melissa-rumor",
                          "connections_count": 500,
                          "profile_picture_url": "https://media.licdn.com/dms/image/v2/D4E03AQGMYh2BdU4Jbg/profile-displayphoto-scale_200_200/B4EZd_SY8dHgAk-/0/1750187217673",
                          "experiences": [
                            {
                              "job_title": "Growth Marketing Manager Welcome to the Jungle (France)",
                              "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                              "company_linkedin_id": "0e1c06c9-ad2f-56fe-b36b-f0927aeb261d",
                              "job_description": null,
                              "job_start_date": "2025-06-01",
                              "job_end_date": null,
                              "job_is_current": true,
                              "job_location": {
                                "city": "Paris",
                                "state_code": null,
                                "country_code": "FR"
                              }
                            }
                          ],
                          "education": [
                            {
                              "degree": "DUT techniques de commercialisation",
                              "end_date": "2020-01-01",
                              "linkedin_url": "https://www.linkedin.com/school/upecofficiel",
                              "organization": "Université Paris-Est Créteil (UPEC)",
                              "start_date": "2018-01-01"
                            },
                            {
                              "degree": "Master",
                              "end_date": "2023-01-01",
                              "linkedin_url": "https://www.linkedin.com/school/esdes-business-school",
                              "organization": "ESDES Lyon Business School",
                              "start_date": "2021-01-01"
                            },
                            {
                              "degree": "Bachelor's degree",
                              "end_date": "2021-01-01",
                              "linkedin_url": "https://www.linkedin.com/school/ppabusinessschool",
                              "organization": "PPA Business School",
                              "start_date": "2020-01-01"
                            }
                          ],
                          "skills": [],
                          "certifications": [
                            {
                              "authority": "LinkedIn",
                              "name": "Développer son ingéniosité",
                              "url": "https://www.linkedin.com/learning/certificates/532df0d72879f0c2919f3f9e4a79ddd3d9c1dd7582409d4eaca4246c67bb3887"
                            },
                            {
                              "authority": "LinkedIn",
                              "name": "Développer son ingéniosité (2015)",
                              "url": "https://www.linkedin.com/learning/certificates/23b42588c7d2c19511d79d8e79abf748e0d337054b865e331df82dcd01c2c993"
                            },
                            {
                              "authority": "LinkedIn",
                              "name": "Savoir gérer son stress",
                              "url": "https://www.linkedin.com/learning/certificates/ae18130d4a0487235525e3c49a169ead02f099aac62f6a3e0d5e0a5c70931d28"
                            },
                            {
                              "authority": "LinkedIn",
                              "name": "Gérer des équipes virtuelles",
                              "url": "https://www.linkedin.com/learning/certificates/62a5a97152a778a4ea469bfe37d1f65e5afa3dcdc1fe2f175473047324c67e3e"
                            },
                            {
                              "authority": "LinkedIn",
                              "name": "Travailler à distance",
                              "url": "https://www.linkedin.com/learning/certificates/18505ad3624f0006266e5f33450cf5e48460c95161c57edb24facf29a802bb0f"
                            },
                            {
                              "authority": "LinkedIn",
                              "name": "Améliorer sa concentration",
                              "url": "https://www.linkedin.com/learning/certificates/a55c89a7901af65bfc85eb22354e9b0410f1269e122560edcdcaf916a01514ad"
                            },
                            {
                              "authority": "LinkedIn",
                              "name": "Être positif au travail",
                              "url": "https://www.linkedin.com/learning/certificates/6afbfaf2c599d6a25c596c01b95194c3415d6cfc57052b7e26148c4f6d10bfc5"
                            },
                            {
                              "authority": "LinkedIn",
                              "name": "Savoir gérer son temps",
                              "url": "https://www.linkedin.com/learning/certificates/c46d933fd6a7ad07ac7905674b96655de95a0870a9200900bf9afca0baf57c46"
                            },
                            {
                              "authority": "LinkedIn",
                              "name": "Collaborer en équipe avec la suite Microsoft Office 365",
                              "url": "https://www.linkedin.com/learning/certificates/b01f471190dde5cf0dd5def11a9cb2a9944c94aec459673972059147723a1def"
                            },
                            {
                              "authority": "LinkedIn",
                              "name": "L'essentiel de Teams",
                              "url": "https://www.linkedin.com/learning/certificates/e4300bb452fa430d663bd28c3206d88f54ff1621a313b9884c9041f6c2f0ac2d"
                            }
                          ]
                        },
                        "icp": 2,
                        "ranking": 1,
                        "what_matched": [
                          {
                            "value": "Growth Marketing Manager Welcome to the Jungle (France)",
                            "key": "job_title"
                          },
                          {
                            "value": "Growth Marketing Manager Welcome to the Jungle (France)",
                            "key": "job_title"
                          }
                        ]
                      },
                      {
                        "person": {
                          "first_name": "Wendy",
                          "last_name": "Carré",
                          "full_name": "Wendy Carré",
                          "nickname": null,
                          "civility_title": null,
                          "headline": "Senior Content Marketing Manager @ Welcome to the Jungle (France)",
                          "about_me": null,
                          "location": {
                            "city": "Paris",
                            "state_code": null,
                            "country_code": "FR",
                            "continent": "Europe"
                          },
                          "linkedin_url": "https://www.linkedin.com/in/wendy-carr%c3%a9-6663848a",
                          "connections_count": 500,
                          "profile_picture_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
                          "experiences": [
                            {
                              "job_title": "Senior Content Marketing Manager",
                              "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                              "company_linkedin_id": "0e1c06c9-ad2f-56fe-b36b-f0927aeb261d",
                              "job_description": null,
                              "job_start_date": "2023-05-01",
                              "job_end_date": null,
                              "job_is_current": true,
                              "job_location": {
                                "city": "Ville de Paris",
                                "state_code": null,
                                "country_code": "FR"
                              }
                            }
                          ],
                          "education": [
                            {
                              "degree": "Master of Science in International Marketing",
                              "end_date": "2014-01-01",
                              "linkedin_url": "https://www.linkedin.com/school/renneschoolofbusiness",
                              "organization": "Ecole supérieure de Commerce de Rennes",
                              "start_date": "2010-01-01"
                            },
                            {
                              "degree": "Marketing Communications, Human Resources, International Business",
                              "description": "Activities and Societies: Echange universitaire de six mois",
                              "end_date": "2012-01-01",
                              "linkedin_url": "https://www.linkedin.com/school/university-of-sheffield",
                              "organization": "The University of Sheffield",
                              "start_date": "2012-01-01"
                            },
                            {
                              "degree": "Hypokhâgne / Khâgne",
                              "end_date": "2010-01-01",
                              "organization": "Classes préparatoires, Lycée Michelet, Vanves (92)",
                              "start_date": "2008-01-01"
                            }
                          ],
                          "skills": [
                            "gfk",
                            "photoshop",
                            "pack office",
                            "sap bw"
                          ],
                          "certifications": []
                        },
                        "icp": 2,
                        "ranking": 2,
                        "what_matched": [
                          {
                            "value": "Senior Content Marketing Manager",
                            "key": "job_title"
                          }
                        ]
                      },
                      {
                        "person": {
                          "first_name": "Laura",
                          "last_name": "Scognamiglio",
                          "full_name": "Laura Huline Scognamiglio",
                          "nickname": null,
                          "civility_title": null,
                          "headline": "Senior Content Manager",
                          "about_me": "Expertise Digitale/Marketing & Communication, forte attraction pour l\\'Hôtellerie Internationale, la Gastronomie et le Tourisme.",
                          "location": {
                            "city": "Paris",
                            "state_code": null,
                            "country_code": "FR",
                            "continent": "Europe"
                          },
                          "linkedin_url": "https://www.linkedin.com/in/laura-huline-scognamiglio-74a16564",
                          "connections_count": 500,
                          "profile_picture_url": null,
                          "experiences": [
                            {
                              "job_title": "Senior Content Manager",
                              "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                              "company_linkedin_id": "0e1c06c9-ad2f-56fe-b36b-f0927aeb261d",
                              "job_description": "Elaboration d\\'une stratégie de contenu B2B engageante sur tous les canaux afin d\\'attirer de nouveaux clients et de fidéliser et valoriser la communauté de clients Welcome to the Jungle.Alimentation des campagnes Growth avec du contenu qualitatif et pertinent pour répondre aux enjeux des professionnels des RH et du Recrutement et convertir les prospects en clients ( Ebook, Live, Quizz.)Construction des campagnes de communication email afin d\\'optimiser la transition de Lead en MQL pour soutenir la réussite commerciale.Contrôle, analyse et compte rendu de l\\'impact du contenu sur les revenus.Contribution à la production de contenu pour nourrir les actions SEO et SEA.Collaboration avec les équipes Social Media pour maximiser la visibilité des contenus et nouveautés produit auprès de la communauté Welcome to the Jungle.Collaboration étroite avec l\\'équipe product marketing et les équipes Sales et AM pour valoriser les lancements produits et obtenir des retours du marché.",
                              "job_start_date": "2023-11-01",
                              "job_end_date": null,
                              "job_is_current": true,
                              "job_location": {
                                "city": null,
                                "state_code": null,
                                "country_code": null
                              }
                            }
                          ],
                          "education": [
                            {
                              "degree": "Licence",
                              "end_date": "2010-01-01",
                              "linkedin_url": "https://www.linkedin.com/school/universite-paris-nanterre",
                              "organization": "Université Paris X Nanterre",
                              "start_date": "2007-01-01"
                            },
                            {
                              "degree": "M2",
                              "end_date": "2013-01-01",
                              "organization": "Vatel Paris",
                              "start_date": "2010-01-01"
                            }
                          ],
                          "skills": [],
                          "certifications": []
                        },
                        "icp": 4,
                        "ranking": 3,
                        "what_matched": [
                          {
                            "value": "Senior Content Manager",
                            "key": "job_title"
                          }
                        ]
                      },
                      {
                        "person": {
                          "first_name": "Marie",
                          "last_name": "Villemin",
                          "full_name": "Marie Poirier Villemin",
                          "nickname": null,
                          "civility_title": null,
                          "headline": "Brand Manager @ Welcome to the Jungle",
                          "about_me": null,
                          "location": {
                            "city": "Paris",
                            "state_code": null,
                            "country_code": "FR",
                            "continent": "Europe"
                          },
                          "linkedin_url": "https://www.linkedin.com/in/marie-villemin",
                          "connections_count": 500,
                          "profile_picture_url": null,
                          "experiences": [
                            {
                              "job_title": "Brand Manager Welcome to the Jungle (France)",
                              "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                              "company_linkedin_id": "0e1c06c9-ad2f-56fe-b36b-f0927aeb261d",
                              "job_description": null,
                              "job_start_date": "2025-01-01",
                              "job_end_date": null,
                              "job_is_current": true,
                              "job_location": {
                                "city": "Paris",
                                "state_code": null,
                                "country_code": "FR"
                              }
                            }
                          ],
                          "education": [
                            {
                              "degree": "Master 2 (M2)",
                              "end_date": "2020-01-01",
                              "linkedin_url": "https://www.linkedin.com/school/supdepub",
                              "organization": "Sup de Pub - INSEEC U",
                              "start_date": "2019-01-01"
                            },
                            {
                              "degree": "Baccalauréat",
                              "end_date": "2015-01-01",
                              "organization": "Lycée Saint Joseph Vendôme",
                              "start_date": "2008-01-01"
                            }
                          ],
                          "skills": [],
                          "certifications": []
                        },
                        "icp": 4,
                        "ranking": 4,
                        "what_matched": [
                          {
                            "value": "Brand Manager Welcome to the Jungle (France)",
                            "key": "job_title"
                          }
                        ]
                      },
                      {
                        "person": {
                          "first_name": "Juliette",
                          "last_name": "B.",
                          "full_name": "Juliette B.",
                          "nickname": null,
                          "civility_title": null,
                          "headline": "Associate Brand Manager @Welcome to the Jungle",
                          "about_me": null,
                          "location": {
                            "city": "Paris",
                            "state_code": null,
                            "country_code": "FR",
                            "continent": "Europe"
                          },
                          "linkedin_url": "https://www.linkedin.com/in/juliette-boisdon-23b9661b8",
                          "connections_count": 500,
                          "profile_picture_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
                          "experiences": [
                            {
                              "job_title": "Associate Brand Manager",
                              "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                              "company_linkedin_id": "0e1c06c9-ad2f-56fe-b36b-f0927aeb261d",
                              "job_description": null,
                              "job_start_date": "2025-09-01",
                              "job_end_date": null,
                              "job_is_current": true,
                              "job_location": {
                                "city": null,
                                "state_code": null,
                                "country_code": null
                              }
                            }
                          ],
                          "education": [],
                          "skills": [],
                          "certifications": []
                        },
                        "icp": 4,
                        "ranking": 5,
                        "what_matched": [
                          {
                            "value": "Associate Brand Manager",
                            "key": "job_title"
                          }
                        ]
                      },
                      {
                        "person": {
                          "first_name": "Marie",
                          "last_name": "Villemin",
                          "full_name": "Marie Poirier Villemin",
                          "nickname": null,
                          "civility_title": null,
                          "headline": "Brand Manager @ Welcome to the Jungle",
                          "about_me": null,
                          "location": {
                            "city": "Paris",
                            "state_code": null,
                            "country_code": "FR",
                            "continent": "Europe"
                          },
                          "linkedin_url": "https://www.linkedin.com/in/marie-poiriervillemin",
                          "connections_count": 500,
                          "profile_picture_url": "https://media.licdn.com/dms/image/v2/D4E03AQEhSvrPJKxuew/profile-displayphoto-shrink_200_200/B4EZWt3LeRHcAo-/0/1742378678694",
                          "experiences": [
                            {
                              "job_title": "Brand Manager Welcome to the Jungle (France)",
                              "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                              "company_linkedin_id": "0e1c06c9-ad2f-56fe-b36b-f0927aeb261d",
                              "job_description": null,
                              "job_start_date": "2025-01-01",
                              "job_end_date": null,
                              "job_is_current": true,
                              "job_location": {
                                "city": "Paris",
                                "state_code": null,
                                "country_code": "FR"
                              }
                            }
                          ],
                          "education": [
                            {
                              "degree": "Baccalauréat",
                              "end_date": "2015-01-01",
                              "organization": "Lycée Saint Joseph Vendôme",
                              "start_date": "2008-01-01"
                            },
                            {
                              "degree": "Master 2 (M2)",
                              "end_date": "2020-01-01",
                              "linkedin_url": "https://www.linkedin.com/school/supdepub",
                              "organization": "Sup de Pub - INSEEC U",
                              "start_date": "2019-01-01"
                            }
                          ],
                          "skills": [],
                          "certifications": []
                        },
                        "icp": 4,
                        "ranking": 6,
                        "what_matched": [
                          {
                            "value": "Brand Manager Welcome to the Jungle (France)",
                            "key": "job_title"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Insufficient credits balance"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "error": {
                      "code": "INVALID_INPUT",
                      "message": "Missing required fields"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/search/employee-finder": {
      "post": {
        "tags": [
          "Employee Finder"
        ],
        "security": [
          {
            "APIKey": []
          }
        ],
        "summary": "Employee Finder",
        "description": "Search all employees at a single company by job level, department, location, and seniority.\n\n**Pagination**: Page-based. Increment `page` until `page > total_pages`.\n\n**Response**: Person data is returned directly in `results[]` (not nested in `.person`).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_linkedin_url": {
                    "type": "string",
                    "example": "https://www.linkedin.com/company/wttj-fr"
                  },
                  "country_code": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "US",
                      "FR"
                    ]
                  },
                  "continent": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "Africa",
                      "Antarctica",
                      "Asia",
                      "Europe",
                      "North America",
                      "Oceania",
                      "South America"
                    ]
                  },
                  "sales_region": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "NORAM",
                      "LATAM",
                      "EMEA",
                      "APAC"
                    ]
                  },
                  "job_level": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "C-Team",
                      "Director",
                      "Manager",
                      "Other",
                      "Staff",
                      "VP"
                    ]
                  },
                  "job_function": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "Advertising & Marketing",
                      "Art, Culture and Creative Professionals",
                      "Construction",
                      "Customer/Client Service",
                      "Education",
                      "Engineering",
                      "Finance & Accounting",
                      "General Business & Management",
                      "Healthcare & Human Services",
                      "Human Resources",
                      "Information Technology",
                      "Legal",
                      "Manufacturing & Production",
                      "Operations",
                      "Other",
                      "Public Administration & Safety",
                      "Purchasing",
                      "Research & Development",
                      "Sales & Business Development",
                      "Science",
                      "Supply Chain & Logistics",
                      "Writing/Editing"
                    ]
                  },
                  "min_connections_count": {
                    "type": "number",
                    "example": 200,
                    "minimum": 0,
                    "maximum": 500
                  },
                  "max_results": {
                    "type": "number",
                    "example": 3
                  },
                  "page": {
                    "type": "number",
                    "example": 1
                  }
                },
                "required": [
                  "company_linkedin_url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                    "max_results": 3,
                    "results_length": 3,
                    "page": 1,
                    "total_pages": 82,
                    "results": [
                      {
                        "first_name": "Hélène",
                        "last_name": "Pillon",
                        "full_name": "Hélène Pillon",
                        "nickname": null,
                        "civility_title": null,
                        "headline": "Journaliste freelance",
                        "about_me": "Depuis Marseille, je travaille pour différents médias français et européens en tant que…",
                        "location": {
                          "city": null,
                          "state_code": null,
                          "country_code": "FR",
                          "continent": "Europe"
                        },
                        "linkedin_url": "https://www.linkedin.com/in/h%c3%a9l%c3%a8ne-pillon-2a57155a",
                        "connections_count": 361,
                        "profile_picture_url": "https://media.licdn.com/dms/image/v2/C5103AQGChE55b4tmFA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1517400935573",
                        "experiences": [
                          {
                            "job_title": "Journaliste Indépendante",
                            "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                            "company_linkedin_id": "0e1c06c9-ad2f-56fe-b36b-f0927aeb261d",
                            "job_description": "Rédaction de portraits pour le site web",
                            "job_start_date": "2019-12-01",
                            "job_end_date": null,
                            "job_is_current": true,
                            "job_location": {
                              "city": null,
                              "state_code": null,
                              "country_code": null
                            }
                          }
                        ],
                        "education": [],
                        "skills": [],
                        "certifications": []
                      },
                      {
                        "first_name": "Nathan",
                        "last_name": "Chalot",
                        "full_name": "Nathan Chalot",
                        "nickname": null,
                        "civility_title": null,
                        "headline": null,
                        "about_me": null,
                        "location": {
                          "city": "Paris",
                          "state_code": null,
                          "country_code": "FR",
                          "continent": "Europe"
                        },
                        "linkedin_url": "https://www.linkedin.com/in/nathan-chalot-5a978210a",
                        "connections_count": 500,
                        "profile_picture_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
                        "experiences": [
                          {
                            "job_title": "Welcome to the Jungle France",
                            "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                            "company_linkedin_id": "0e1c06c9-ad2f-56fe-b36b-f0927aeb261d",
                            "job_description": null,
                            "job_start_date": null,
                            "job_end_date": null,
                            "job_is_current": true,
                            "job_location": {
                              "city": null,
                              "state_code": null,
                              "country_code": null
                            }
                          }
                        ],
                        "education": [],
                        "skills": [
                          "javascript",
                          "html5",
                          "jquery",
                          "ruby",
                          "css",
                          "github",
                          "git",
                          "ruby on rails"
                        ],
                        "certifications": []
                      },
                      {
                        "first_name": "Colombe",
                        "last_name": "Godeluck",
                        "full_name": "Colombe Godeluck",
                        "nickname": null,
                        "civility_title": null,
                        "headline": "Helps companies strengthen & promote their employer brand",
                        "about_me": null,
                        "location": {
                          "city": null,
                          "state_code": null,
                          "country_code": "FR",
                          "continent": "Europe"
                        },
                        "linkedin_url": "https://www.linkedin.com/in/colombegodeluck",
                        "connections_count": 500,
                        "profile_picture_url": null,
                        "experiences": [
                          {
                            "job_title": "Account Manager Senior",
                            "company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
                            "company_linkedin_id": "0e1c06c9-ad2f-56fe-b36b-f0927aeb261d",
                            "job_description": null,
                            "job_start_date": "2023-02-01",
                            "job_end_date": null,
                            "job_is_current": true,
                            "job_location": {
                              "city": "Anglet",
                              "state_code": null,
                              "country_code": "FR"
                            }
                          }
                        ],
                        "education": [
                          {
                            "degree": "French Baccalaureate",
                            "end_date": "2010-01-01",
                            "organization": "Louis Barthou High School",
                            "start_date": "2007-01-01"
                          },
                          {
                            "degree": "Master’s Degree",
                            "end_date": "2016-01-01",
                            "linkedin_url": "https://www.linkedin.com/school/maastricht-university-school-of-business-and-economics",
                            "organization": "Maastricht University School of Business and Economics",
                            "start_date": "2016-01-01"
                          },
                          {
                            "degree": "Master's Degree",
                            "end_date": "2014-01-01",
                            "linkedin_url": "https://www.linkedin.com/school/universite-paris-dauphine-psl",
                            "organization": "Université Paris Dauphine",
                            "start_date": "2010-01-01"
                          },
                          {
                            "degree": "Master’s Degree",
                            "end_date": "2017-01-01",
                            "linkedin_url": "https://www.linkedin.com/school/em-lyon-business-school",
                            "organization": "EMLYON Business School",
                            "start_date": "2015-01-01"
                          }
                        ],
                        "skills": [],
                        "certifications": []
                      }
                    ]
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Insufficient credits balance"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "error": {
                      "code": "INVALID_INPUT",
                      "message": "Missing required fields"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/search/people": {
      "post": {
        "summary": "People Search",
        "description": "Find people across multiple companies by combining company filters AND people filters in a single query.\n\n**Pagination**: Cursor-based. Pass the `cursor` from the response to get the next page. `cursor: null` = last page.\n\n**Filter logic**: All filters combine with AND. Multiple values within a filter use OR. Include is applied first, then exclude removes matches.\n\n⚠️ **Important**: The person country filter is `people.location.country` (not `country_code` as in Employee Finder). Values are the same ISO 2-letter codes.",
        "tags": [
          "People Search"
        ],
        "security": [
          {
            "APIKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company": {
                    "description": "Company search criteria",
                    "type": "object",
                    "properties": {
                      "linkedin_url": {
                        "description": "Exact matches for the LinkedIn URL of the company, to look for people in the company",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "examples": [
                            "https://www.linkedin.com/company/blitz-api"
                          ]
                        }
                      },
                      "name": {
                        "description": "Keywords searched in the company name",
                        "type": "object",
                        "properties": {
                          "include": {
                            "default": [],
                            "examples": [
                              []
                            ],
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "exclude": {
                            "default": [],
                            "examples": [
                              []
                            ],
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "industry": {
                        "description": "Exact matches for the industry search",
                        "type": "object",
                        "properties": {
                          "include": {
                            "default": [],
                            "examples": [
                              [
                                "IT Services and IT Consulting"
                              ]
                            ],
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "Abrasives and Nonmetallic Minerals Manufacturing",
                                "Accessible Architecture and Design",
                                "Accessible Hardware Manufacturing",
                                "Accommodation and Food Services",
                                "Accounting",
                                "Administration of Justice",
                                "Administrative and Support Services",
                                "Advertising Services",
                                "Agricultural Chemical Manufacturing",
                                "Agriculture; Construction; Mining Machinery Manufacturing",
                                "Airlines and Aviation",
                                "Airlines/Aviation",
                                "Air; Water; and Waste Program Management",
                                "Alternative Dispute Resolution",
                                "Alternative Fuel Vehicle Manufacturing",
                                "Alternative Medicine",
                                "Ambulance Services",
                                "Amusement Parks and Arcades",
                                "Animal Feed Manufacturing",
                                "Animation",
                                "Animation and Post-production",
                                "Apparel and Fashion",
                                "Apparel Manufacturing",
                                "Appliances; Electrical; and Electronics Manufacturing",
                                "Architectural and Structural Metal Manufacturing",
                                "Architecture and Planning",
                                "Armed Forces",
                                "Artificial Rubber and Synthetic Fiber Manufacturing",
                                "Artists and Writers",
                                "Arts and Crafts",
                                "Audio and Video Equipment Manufacturing",
                                "Automation Machinery Manufacturing",
                                "Automotive",
                                "Aviation and Aerospace",
                                "Aviation and Aerospace Component Manufacturing",
                                "Baked Goods Manufacturing",
                                "Banking",
                                "Bars; Taverns; and Nightclubs",
                                "Bed-and-Breakfasts; Hostels; Homestays",
                                "Beverage Manufacturing",
                                "Biomass Electric Power Generation",
                                "Biotechnology",
                                "Biotechnology Research",
                                "Blockchain Services",
                                "Blogs",
                                "Boilers; Tanks; and Shipping Container Manufacturing",
                                "Book and Periodical Publishing",
                                "Book Publishing",
                                "Breweries",
                                "Broadcast Media",
                                "Broadcast Media Production and Distribution",
                                "Building Construction",
                                "Building Equipment Contractors",
                                "Building Finishing Contractors",
                                "Building Materials",
                                "Building Structure and Exterior Contractors",
                                "Business Consulting and Services",
                                "Business Content",
                                "Business Intelligence Platforms",
                                "Business Supplies and Equipment",
                                "Cable and Satellite Programming",
                                "Capital Markets",
                                "Caterers",
                                "Chemical Manufacturing",
                                "Chemical Raw Materials Manufacturing",
                                "Chemicals",
                                "Child Day Care Services",
                                "Chiropractors",
                                "Circuses and Magic Shows",
                                "Civic and Social Organization",
                                "Civic and Social Organizations",
                                "Civil Engineering",
                                "Claims Adjusting; Actuarial Services",
                                "Clay and Refractory Products Manufacturing",
                                "Climate Data and Analytics",
                                "Climate Technology Product Manufacturing",
                                "Coal Mining",
                                "Collection Agencies",
                                "Commercial and Industrial Equipment Rental",
                                "Commercial and Industrial Machinery Maintenance",
                                "Commercial and Service Industry Machinery Manufacturing",
                                "Commercial Real Estate",
                                "Communications Equipment Manufacturing",
                                "Community Development and Urban Planning",
                                "Community Services",
                                "Computer and Network Security",
                                "Computer Games",
                                "Computer Hardware",
                                "Computer Hardware Manufacturing",
                                "Computer Networking",
                                "Computer Networking Products",
                                "Computers and Electronics Manufacturing",
                                "Computer Software",
                                "Conservation Programs",
                                "Construction",
                                "Construction Hardware Manufacturing",
                                "Consumer Electronics",
                                "Consumer Goods",
                                "Consumer Goods Rental",
                                "Consumer Services",
                                "Correctional Institutions",
                                "Cosmetics",
                                "Cosmetology and Barber Schools",
                                "Courts of Law",
                                "Credit Intermediation",
                                "Cutlery and Handtool Manufacturing",
                                "Dairy",
                                "Dairy Product Manufacturing",
                                "Dance Companies",
                                "Data Infrastructure and Analytics",
                                "Data Security Software Products",
                                "Death Care Services",
                                "Defense and Space",
                                "Defense and Space Manufacturing",
                                "Dentists",
                                "Design",
                                "Design Services",
                                "Desktop Computing Software Products",
                                "Digital Accessibility Services",
                                "Distilleries",
                                "Economic Programs",
                                "Education",
                                "Education Administration Programs",
                                "Education Management",
                                "E-learning",
                                "E-Learning Providers",
                                "Electrical and Electronic Manufacturing",
                                "Electrical Equipment Manufacturing",
                                "Electric Lighting Equipment Manufacturing",
                                "Electric Power Generation",
                                "Electric Power Transmission; Control; and Distribution",
                                "Electronic and Precision Equipment Maintenance",
                                "Embedded Software Products",
                                "Emergency and Relief Services",
                                "Energy Technology",
                                "Engineering Services",
                                "Engines and Power Transmission Equipment Manufacturing",
                                "Entertainment",
                                "Entertainment Providers",
                                "Environmental Quality Programs",
                                "Environmental Services",
                                "Equipment Rental Services",
                                "Events Services",
                                "Executive Office",
                                "Executive Offices",
                                "Executive Search Services",
                                "Fabricated Metal Products",
                                "Facilities Services",
                                "Family Planning Centers",
                                "Farming",
                                "Farming; Ranching; Forestry",
                                "Fashion Accessories Manufacturing",
                                "Financial Services",
                                "Fine Art",
                                "Fine Arts Schools",
                                "Fire Protection",
                                "Fisheries",
                                "Fishery",
                                "Flight Training",
                                "Food and Beverage Manufacturing",
                                "Food and Beverage Retail",
                                "Food and Beverages",
                                "Food and Beverage Services",
                                "Food Production",
                                "Footwear and Leather Goods Repair",
                                "Footwear Manufacturing",
                                "Forestry and Logging",
                                "Fossil Fuel Electric Power Generation",
                                "Freight and Package Transportation",
                                "Fruit and Vegetable Preserves Manufacturing",
                                "Fuel Cell Manufacturing",
                                "Fundraising",
                                "Funds and Trusts",
                                "Funeral Services",
                                "Furniture",
                                "Furniture and Home Furnishings Manufacturing",
                                "Gambling and Casinos",
                                "Gambling Facilities and Casinos",
                                "Geothermal Electric Power Generation",
                                "Glass; Ceramics and Concrete",
                                "Glass; Ceramics and Concrete Manufacturing",
                                "Glass Product Manufacturing",
                                "Golf Courses and Country Clubs",
                                "Government Administration",
                                "Government Relations",
                                "Government Relations Services",
                                "Graphic Design",
                                "Ground Passenger Transportation",
                                "Health and Human Services",
                                "Health; Wellness and Fitness",
                                "Higher Education",
                                "Highway; Street; and Bridge Construction",
                                "Historical Sites",
                                "Holding Companies",
                                "Home Health Care Services",
                                "Horticulture",
                                "Hospital and Health Care",
                                "Hospitality",
                                "Hospitals",
                                "Hospitals and Health Care",
                                "Hotels and Motels",
                                "Household and Institutional Furniture Manufacturing",
                                "Household Appliance Manufacturing",
                                "Household Services",
                                "Housing and Community Development",
                                "Housing Programs",
                                "Human Resources",
                                "Human Resources Services",
                                "HVAC and Refrigeration Equipment Manufacturing",
                                "Hydroelectric Power Generation",
                                "Import and Export",
                                "Individual and Family Services",
                                "Industrial Automation",
                                "Industrial Machinery Manufacturing",
                                "Industry Associations",
                                "Information Services",
                                "Information Technology and Services",
                                "Insurance",
                                "Insurance Agencies and Brokerages",
                                "Insurance and Employee Benefit Funds",
                                "Insurance Carriers",
                                "Interior Design",
                                "International Affairs",
                                "International Trade and Development",
                                "Internet",
                                "Internet Marketplace Platforms",
                                "Internet News",
                                "Internet Publishing",
                                "Interurban and Rural Bus Services",
                                "Investment Advice",
                                "Investment Banking",
                                "Investment Management",
                                "IT Services and IT Consulting",
                                "IT System Custom Software Development",
                                "IT System Data Services",
                                "IT System Design Services",
                                "IT System Installation and Disposal",
                                "IT System Operations and Maintenance",
                                "IT System Testing and Evaluation",
                                "IT System Training and Support",
                                "Janitorial Services",
                                "Judiciary",
                                "Landscaping Services",
                                "Language Schools",
                                "Laundry and Drycleaning Services",
                                "Law Enforcement",
                                "Law Practice",
                                "Leasing Non-residential Real Estate",
                                "Leasing Residential Real Estate",
                                "Leather Product Manufacturing",
                                "Legal Services",
                                "Legislative Offices",
                                "Leisure; Travel and Tourism",
                                "Libraries",
                                "Lime and Gypsum Products Manufacturing",
                                "Loan Brokers",
                                "Logistics and Supply Chain",
                                "Luxury Goods and Jewelry",
                                "Machinery",
                                "Machinery Manufacturing",
                                "Magnetic and Optical Media Manufacturing",
                                "Management Consulting",
                                "Manufacturing",
                                "Maritime",
                                "Maritime Transportation",
                                "Marketing and Advertising",
                                "Marketing Services",
                                "Market Research",
                                "Mattress and Blinds Manufacturing",
                                "Measuring and Control Instrument Manufacturing",
                                "Meat Products Manufacturing",
                                "Mechanical Or Industrial Engineering",
                                "Media and Telecommunications",
                                "Media Production",
                                "Medical and Diagnostic Laboratories",
                                "Medical Device",
                                "Medical Equipment Manufacturing",
                                "Medical Practice",
                                "Medical Practices",
                                "Mental Health Care",
                                "Metal Ore Mining",
                                "Metal Treatments",
                                "Metal Valve; Ball; and Roller Manufacturing",
                                "Metalworking Machinery Manufacturing",
                                "Military",
                                "Military and International Affairs",
                                "Mining",
                                "Mining and Metals",
                                "Mobile Computing Software Products",
                                "Mobile Food Services",
                                "Mobile Games",
                                "Mobile Gaming Apps",
                                "Motion Pictures and Film",
                                "Motor Vehicle Manufacturing",
                                "Motor Vehicle Parts Manufacturing",
                                "Movies and Sound Recording",
                                "Movies; Videos; and Sound",
                                "Museums",
                                "Museums and Institutions",
                                "Museums; Historical Sites; and Zoos",
                                "Music",
                                "Musicians",
                                "Nanotechnology",
                                "Nanotechnology Research",
                                "Natural Gas Distribution",
                                "Natural Gas Extraction",
                                "Newspaper Publishing",
                                "Newspapers",
                                "Nonmetallic Mineral Mining",
                                "Non-profit Organization Management",
                                "Non-profit Organizations",
                                "Nonresidential Building Construction",
                                "Nuclear Electric Power Generation",
                                "Nursing Homes and Residential Care Facilities",
                                "Office Administration",
                                "Office Furniture and Fixtures Manufacturing",
                                "Oil and Coal Product Manufacturing",
                                "Oil and Energy",
                                "Oil and Gas",
                                "Oil Extraction",
                                "Oil; Gas; and Mining",
                                "Online and Mail Order Retail",
                                "Online Audio and Video Media",
                                "Online Media",
                                "Operations Consulting",
                                "Optometrists",
                                "Other",
                                "Outpatient Care Centers",
                                "Outsourcing and Offshoring Consulting",
                                "Outsourcing/Offshoring",
                                "Package/Freight Delivery",
                                "Packaging and Containers",
                                "Packaging and Containers Manufacturing",
                                "Paint; Coating; and Adhesive Manufacturing",
                                "Paper and Forest Product Manufacturing",
                                "Paper and Forest Products",
                                "Parts Distribution",
                                "Pension Funds",
                                "Performing Arts",
                                "Performing Arts and Spectator Sports",
                                "Periodical Publishing",
                                "Personal and Laundry Services",
                                "Personal Care Product Manufacturing",
                                "Personal Care Services",
                                "Pet Services",
                                "Pharmaceutical Manufacturing",
                                "Pharmaceuticals",
                                "Philanthropic Fundraising Services",
                                "Philanthropy",
                                "Photography",
                                "Physical; Occupational and Speech Therapists",
                                "Physicians",
                                "Pipeline Transportation",
                                "Plastics",
                                "Plastics and Rubber Product Manufacturing",
                                "Plastics Manufacturing",
                                "Political Organization",
                                "Political Organizations",
                                "Postal Services",
                                "Primary and Secondary Education",
                                "Primary Metal Manufacturing",
                                "Primary/Secondary Education",
                                "Printing",
                                "Printing Services",
                                "Professional Organizations",
                                "Professional Services",
                                "Professional Training and Coaching",
                                "Program Development",
                                "Public Assistance Programs",
                                "Public Health",
                                "Public Policy",
                                "Public Policy Offices",
                                "Public Relations and Communications",
                                "Public Relations and Communications Services",
                                "Public Safety",
                                "Public Works",
                                "Publishing",
                                "Racetracks",
                                "Radio and Television Broadcasting",
                                "Railroad Equipment Manufacturing",
                                "Railroad Manufacture",
                                "Rail Transportation",
                                "Ranching",
                                "Ranching and Fisheries",
                                "Real Estate",
                                "Real Estate Agents and Brokers",
                                "Real Estate and Equipment Rental Services",
                                "Recreational Facilities",
                                "Recreational Facilities and Services",
                                "Regenerative Design",
                                "Religious Institutions",
                                "Renewable Energy Equipment Manufacturing",
                                "Renewable Energy Power Generation",
                                "Renewable Energy Semiconductor Manufacturing",
                                "Renewables and Environment",
                                "Repair and Maintenance",
                                "Research",
                                "Research Services",
                                "Residential Building Construction",
                                "Restaurants",
                                "Retail",
                                "Retail Apparel and Fashion",
                                "Retail Appliances; Electrical; and Electronic Equipment",
                                "Retail Art Dealers",
                                "Retail Art Supplies",
                                "Retail Books and Printed News",
                                "Retail Building Materials and Garden Equipment",
                                "Retail Florists",
                                "Retail Furniture and Home Furnishings",
                                "Retail Gasoline",
                                "Retail Groceries",
                                "Retail Health and Personal Care Products",
                                "Retail Luxury Goods and Jewelry",
                                "Retail Motor Vehicles",
                                "Retail Musical Instruments",
                                "Retail Office Equipment",
                                "Retail Office Supplies and Gifts",
                                "Retail Pharmacies",
                                "Retail Recyclable Materials and Used Merchandise",
                                "Reupholstery and Furniture Repair",
                                "Robotics Engineering",
                                "Robot Manufacturing",
                                "Rubber Products Manufacturing",
                                "Satellite Telecommunications",
                                "Savings Institutions",
                                "School and Employee Bus Services",
                                "Seafood Product Manufacturing",
                                "Secretarial Schools",
                                "Securities and Commodity Exchanges",
                                "Security and Investigations",
                                "Security Guards and Patrol Services",
                                "Security Systems Services",
                                "Semiconductor Manufacturing",
                                "Semiconductors",
                                "Services for Renewable Energy",
                                "Services for the Elderly and Disabled",
                                "Sheet Music Publishing",
                                "Shipbuilding",
                                "Shuttles and Special Needs Transportation Services",
                                "Sightseeing Transportation",
                                "Skiing Facilities",
                                "Smart Meter Manufacturing",
                                "Soap and Cleaning Product Manufacturing",
                                "Social Networking Platforms",
                                "Software Development",
                                "Solar Electric Power Generation",
                                "Sound Recording",
                                "Space Research and Technology",
                                "Specialty Trade Contractors",
                                "Spectator Sports",
                                "Sporting Goods",
                                "Sporting Goods Manufacturing",
                                "Sports",
                                "Sports and Recreation Instruction",
                                "Sports Teams and Clubs",
                                "Spring and Wire Product Manufacturing",
                                "Staffing and Recruiting",
                                "Steam and Air-Conditioning Supply",
                                "Strategic Management Services",
                                "Subdivision of Land",
                                "Sugar and Confectionery Product Manufacturing",
                                "Supermarkets",
                                "Surveying and Mapping Services",
                                "Taxi and Limousine Services",
                                "Technical and Vocational Training",
                                "Technology; Information and Internet",
                                "Technology; Information and Media",
                                "Telecommunications",
                                "Telecommunications Carriers",
                                "Telephone Call Centers",
                                "Temporary Help Services",
                                "Textile Manufacturing",
                                "Textiles",
                                "Theater Companies",
                                "Think Tanks",
                                "Tobacco",
                                "Tobacco Manufacturing",
                                "Translation and Localization",
                                "Transportation Equipment Manufacturing",
                                "Transportation; Logistics; Supply Chain and Storage",
                                "Transportation Programs",
                                "Transportation/Trucking/Railroad",
                                "Travel Arrangements",
                                "Truck Transportation",
                                "Trusts and Estates",
                                "Turned Products and Fastener Manufacturing",
                                "Urban Transit Services",
                                "Utilities",
                                "Utilities Administration",
                                "Utility System Construction",
                                "Vehicle Repair and Maintenance",
                                "Venture Capital and Private Equity",
                                "Venture Capital and Private Equity Principals",
                                "Veterinary",
                                "Veterinary Services",
                                "Vocational Rehabilitation Services",
                                "Warehousing",
                                "Warehousing and Storage",
                                "Waste Collection",
                                "Waste Treatment and Disposal",
                                "Water Supply and Irrigation Systems",
                                "Water; Waste; Steam; and Air Conditioning Services",
                                "Wellness and Fitness Services",
                                "Wholesale",
                                "Wholesale Alcoholic Beverages",
                                "Wholesale Apparel and Sewing Supplies",
                                "Wholesale Appliances; Electrical; and Electronics",
                                "Wholesale Building Materials",
                                "Wholesale Chemical and Allied Products",
                                "Wholesale Computer Equipment",
                                "Wholesale Drugs and Sundries",
                                "Wholesale Food and Beverage",
                                "Wholesale Footwear",
                                "Wholesale Furniture and Home Furnishings",
                                "Wholesale Hardware; Plumbing; Heating Equipment",
                                "Wholesale Import and Export",
                                "Wholesale Luxury Goods and Jewelry",
                                "Wholesale Machinery",
                                "Wholesale Metals and Minerals",
                                "Wholesale Motor Vehicles and Parts",
                                "Wholesale Paper Products",
                                "Wholesale Petroleum and Petroleum Products",
                                "Wholesale Photography Equipment and Supplies",
                                "Wholesale Raw Farm Products",
                                "Wholesale Recyclable Materials",
                                "Wind Electric Power Generation",
                                "Wine and Spirits",
                                "Wineries",
                                "Wireless",
                                "Wireless Services",
                                "Women\\\\'s Handbag Manufacturing",
                                "Wood Product Manufacturing",
                                "Writing and Editing",
                                "Zoos and Botanical Gardens"
                              ]
                            }
                          },
                          "exclude": {
                            "default": [],
                            "examples": [
                              []
                            ],
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "Abrasives and Nonmetallic Minerals Manufacturing",
                                "Accessible Architecture and Design",
                                "Accessible Hardware Manufacturing",
                                "Accommodation and Food Services",
                                "Accounting",
                                "Administration of Justice",
                                "Administrative and Support Services",
                                "Advertising Services",
                                "Agricultural Chemical Manufacturing",
                                "Agriculture; Construction; Mining Machinery Manufacturing",
                                "Airlines and Aviation",
                                "Airlines/Aviation",
                                "Air; Water; and Waste Program Management",
                                "Alternative Dispute Resolution",
                                "Alternative Fuel Vehicle Manufacturing",
                                "Alternative Medicine",
                                "Ambulance Services",
                                "Amusement Parks and Arcades",
                                "Animal Feed Manufacturing",
                                "Animation",
                                "Animation and Post-production",
                                "Apparel and Fashion",
                                "Apparel Manufacturing",
                                "Appliances; Electrical; and Electronics Manufacturing",
                                "Architectural and Structural Metal Manufacturing",
                                "Architecture and Planning",
                                "Armed Forces",
                                "Artificial Rubber and Synthetic Fiber Manufacturing",
                                "Artists and Writers",
                                "Arts and Crafts",
                                "Audio and Video Equipment Manufacturing",
                                "Automation Machinery Manufacturing",
                                "Automotive",
                                "Aviation and Aerospace",
                                "Aviation and Aerospace Component Manufacturing",
                                "Baked Goods Manufacturing",
                                "Banking",
                                "Bars; Taverns; and Nightclubs",
                                "Bed-and-Breakfasts; Hostels; Homestays",
                                "Beverage Manufacturing",
                                "Biomass Electric Power Generation",
                                "Biotechnology",
                                "Biotechnology Research",
                                "Blockchain Services",
                                "Blogs",
                                "Boilers; Tanks; and Shipping Container Manufacturing",
                                "Book and Periodical Publishing",
                                "Book Publishing",
                                "Breweries",
                                "Broadcast Media",
                                "Broadcast Media Production and Distribution",
                                "Building Construction",
                                "Building Equipment Contractors",
                                "Building Finishing Contractors",
                                "Building Materials",
                                "Building Structure and Exterior Contractors",
                                "Business Consulting and Services",
                                "Business Content",
                                "Business Intelligence Platforms",
                                "Business Supplies and Equipment",
                                "Cable and Satellite Programming",
                                "Capital Markets",
                                "Caterers",
                                "Chemical Manufacturing",
                                "Chemical Raw Materials Manufacturing",
                                "Chemicals",
                                "Child Day Care Services",
                                "Chiropractors",
                                "Circuses and Magic Shows",
                                "Civic and Social Organization",
                                "Civic and Social Organizations",
                                "Civil Engineering",
                                "Claims Adjusting; Actuarial Services",
                                "Clay and Refractory Products Manufacturing",
                                "Climate Data and Analytics",
                                "Climate Technology Product Manufacturing",
                                "Coal Mining",
                                "Collection Agencies",
                                "Commercial and Industrial Equipment Rental",
                                "Commercial and Industrial Machinery Maintenance",
                                "Commercial and Service Industry Machinery Manufacturing",
                                "Commercial Real Estate",
                                "Communications Equipment Manufacturing",
                                "Community Development and Urban Planning",
                                "Community Services",
                                "Computer and Network Security",
                                "Computer Games",
                                "Computer Hardware",
                                "Computer Hardware Manufacturing",
                                "Computer Networking",
                                "Computer Networking Products",
                                "Computers and Electronics Manufacturing",
                                "Computer Software",
                                "Conservation Programs",
                                "Construction",
                                "Construction Hardware Manufacturing",
                                "Consumer Electronics",
                                "Consumer Goods",
                                "Consumer Goods Rental",
                                "Consumer Services",
                                "Correctional Institutions",
                                "Cosmetics",
                                "Cosmetology and Barber Schools",
                                "Courts of Law",
                                "Credit Intermediation",
                                "Cutlery and Handtool Manufacturing",
                                "Dairy",
                                "Dairy Product Manufacturing",
                                "Dance Companies",
                                "Data Infrastructure and Analytics",
                                "Data Security Software Products",
                                "Death Care Services",
                                "Defense and Space",
                                "Defense and Space Manufacturing",
                                "Dentists",
                                "Design",
                                "Design Services",
                                "Desktop Computing Software Products",
                                "Digital Accessibility Services",
                                "Distilleries",
                                "Economic Programs",
                                "Education",
                                "Education Administration Programs",
                                "Education Management",
                                "E-learning",
                                "E-Learning Providers",
                                "Electrical and Electronic Manufacturing",
                                "Electrical Equipment Manufacturing",
                                "Electric Lighting Equipment Manufacturing",
                                "Electric Power Generation",
                                "Electric Power Transmission; Control; and Distribution",
                                "Electronic and Precision Equipment Maintenance",
                                "Embedded Software Products",
                                "Emergency and Relief Services",
                                "Energy Technology",
                                "Engineering Services",
                                "Engines and Power Transmission Equipment Manufacturing",
                                "Entertainment",
                                "Entertainment Providers",
                                "Environmental Quality Programs",
                                "Environmental Services",
                                "Equipment Rental Services",
                                "Events Services",
                                "Executive Office",
                                "Executive Offices",
                                "Executive Search Services",
                                "Fabricated Metal Products",
                                "Facilities Services",
                                "Family Planning Centers",
                                "Farming",
                                "Farming; Ranching; Forestry",
                                "Fashion Accessories Manufacturing",
                                "Financial Services",
                                "Fine Art",
                                "Fine Arts Schools",
                                "Fire Protection",
                                "Fisheries",
                                "Fishery",
                                "Flight Training",
                                "Food and Beverage Manufacturing",
                                "Food and Beverage Retail",
                                "Food and Beverages",
                                "Food and Beverage Services",
                                "Food Production",
                                "Footwear and Leather Goods Repair",
                                "Footwear Manufacturing",
                                "Forestry and Logging",
                                "Fossil Fuel Electric Power Generation",
                                "Freight and Package Transportation",
                                "Fruit and Vegetable Preserves Manufacturing",
                                "Fuel Cell Manufacturing",
                                "Fundraising",
                                "Funds and Trusts",
                                "Funeral Services",
                                "Furniture",
                                "Furniture and Home Furnishings Manufacturing",
                                "Gambling and Casinos",
                                "Gambling Facilities and Casinos",
                                "Geothermal Electric Power Generation",
                                "Glass; Ceramics and Concrete",
                                "Glass; Ceramics and Concrete Manufacturing",
                                "Glass Product Manufacturing",
                                "Golf Courses and Country Clubs",
                                "Government Administration",
                                "Government Relations",
                                "Government Relations Services",
                                "Graphic Design",
                                "Ground Passenger Transportation",
                                "Health and Human Services",
                                "Health; Wellness and Fitness",
                                "Higher Education",
                                "Highway; Street; and Bridge Construction",
                                "Historical Sites",
                                "Holding Companies",
                                "Home Health Care Services",
                                "Horticulture",
                                "Hospital and Health Care",
                                "Hospitality",
                                "Hospitals",
                                "Hospitals and Health Care",
                                "Hotels and Motels",
                                "Household and Institutional Furniture Manufacturing",
                                "Household Appliance Manufacturing",
                                "Household Services",
                                "Housing and Community Development",
                                "Housing Programs",
                                "Human Resources",
                                "Human Resources Services",
                                "HVAC and Refrigeration Equipment Manufacturing",
                                "Hydroelectric Power Generation",
                                "Import and Export",
                                "Individual and Family Services",
                                "Industrial Automation",
                                "Industrial Machinery Manufacturing",
                                "Industry Associations",
[...]
