{
	"openapi": "3.1.0",
	"info": {
		"title": "Blitz OpenAPI Reference",
		"version": "2.0.0",
		"description": "Welcome to the Blitz API Reference.\n\nUse this interactive documentation to test endpoints directly in your browser. Authentication is required via the `x-api-key` header."
	},
	"servers": [
		{
			"url": "https://api.blitz-api.ai",
			"description": "Production server"
		}
	],
	"components": {
		"securitySchemes": {
			"APIKey": {
				"type": "apiKey",
				"in": "header",
				"name": "x-api-key",
				"description": "Your Blitz API Key."
			}
		},
		"schemas": {},
		"parameters": {}
	},
	"paths": {
		"/v2/account/key-info": {
			"get": {
				"summary": "Get API Key Details",
				"description": "### 💰 Cost: 0 Credits\n\nCheck the API key information, current credit balance and plan status",
				"tags": [
					"Account"
				],
				"security": [
					{
						"APIKey": []
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"valid":true,
										"id":"XXX",
										"remaining_credits":99.5,
										"next_reset_at":"2026-02-12T17:48:25.199Z",
										"max_requests_per_seconds":5,
										"allowed_apis":["/search/waterfall-icp-keyword","/enrichment/email_domain","/enrichment/email"],
										"active_plans":[{"name":"Startup Trial","status":"active","started_at":"2026-01-12T17:48:25.200Z"}]
									}
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"message": "Missing API key, please provide a valid API key in the 'x-api-key' header"
									}
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"message": "API Key not found"
									}
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"success": false,
										"message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
									}
								}
							}
						}
					}
				}
			}
		},
		"/v2/enrichment/phone-to-person": {
			"post": {
				"summary": "Reverse Phone Lookup",
				"description": "### 💰 Cost: 5 Credits (on success)\n\nIdentify a professional and retrieve their full profile starting from a verified phone number.",
				"tags": [
					"People Enrichment"
				],
				"security": [
					{
						"APIKey": []
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"phone": {
										"type": "string",
										"example": "+1234567890"
									}
								},
								"required": [
									"phone"
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"found": true,
										"person": {
											"person": {
												"first_name": "Antoine",
												"last_name": "Blitz",
												"full_name": "Antoine Blitz",
												"nickname": null,
												"civility_title": null,
												"headline": "Founder @BlitzAPI — B2B Data APIs for Prospecting, Enrichment & Personalization at Scale | GTME",
												"about_me": "I build developer-first tools for scalable, intelligent B2B prospecting. I\\'m the…",
												"location": {
													"city": null,
													"state_code": "NY",
													"country_code": "US",
													"continent": "North America"
												},
												"linkedin_url": "https://www.linkedin.com/in/antoine-blitz-5581b7373",
												"connections_count": 500,
												"profile_picture_url": "https://media.licdn.com/dms/image/v2/D4E03AQFbZDn8ju8JZg/profile-displayphoto-scale_200_200/B4EZfgsajLGcAY-/0/1751821433134",
												"experiences": [
													{
														"job_title": "Founder Blitzapi",
														"company_linkedin_url": "https://www.linkedin.com/company/blitz-api",
														"company_linkedin_id": "be578414-239f-522e-b2e1-9246e22a52d1",
														"job_description": "We help GTM teams win faster by making high-quality B2B data and intent signals instantly available — directly in your existing stack. What we doBlitzAPI is an API-only platform for Growth, RevOps, and SalesOps teams to: Search: find the right people & companies (Waterfall ICP, LinkedIn/company/domain lookups, engagement search) Enrich: add verified emails, direct phone numbers & LinkedIn details in real time Validate: advanced catch-all email verification to maximize deliverability Scrape LinkedIn signals: posts, reactions, comments & activity for hyper-relevant outreach Why BlitzAPI- Real-time & precise — no stale databases- API-first & composable — works with N8N, Make, Clay, HubSpot, Salesforce, Smartlead…- Transparent pricing — credits instead of per-seat fees- Speed-to-market — prototype and scale playbooks in days, not months Use cases our customers loveHigh-deliverability outbound campaignsABM with Waterfall ICP targetingSocial selling with LinkedIn engagement triggersReal-time lead routing & enrichment",
														"job_start_date": "2025-05-01",
														"job_end_date": null,
														"job_is_current": true,
														"job_location": {
															"city": null,
															"state_code": null,
															"country_code": null
														}
													}
												],
												"education": [],
												"skills": [],
												"certifications": []
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"message": "Missing API key, please provide a valid API key in the 'x-api-key' header"
									}
								}
							}
						}
					},
					"402": {
						"description": "Payment Required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"message": "Insufficient credits balance"
									}
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"success": false,
										"message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
									}
								}
							}
						}
					}
				}
			}
		},
		"/v2/enrichment/email-to-person": {
			"post": {
				"summary": "Reverse Email Lookup",
				"description": "### 💰 Cost: 1 Credit (on success)\n\nIdentify a professional and retrieve their full profile starting from a verified work email address.",
				"tags": [
					"People Enrichment"
				],
				"security": [
					{
						"APIKey": []
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"email": {
										"type": "string",
										"example": "antoine@blitz-agency.com"
									}
								},
								"required": [
									"email"
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"found": true,
										"person": {
											"person": {
												"first_name": "Antoine",
												"last_name": "Blitz",
												"full_name": "Antoine Blitz",
												"nickname": null,
												"civility_title": null,
												"headline": "Founder @BlitzAPI — B2B Data APIs for Prospecting, Enrichment & Personalization at Scale | GTME",
												"about_me": "I build developer-first tools for scalable, intelligent B2B prospecting. I\\'m the…",
												"location": {
													"city": null,
													"state_code": "NY",
													"country_code": "US",
													"continent": "North America"
												},
												"linkedin_url": "https://www.linkedin.com/in/antoine-blitz-5581b7373",
												"connections_count": 500,
												"profile_picture_url": "https://media.licdn.com/dms/image/v2/D4E03AQFbZDn8ju8JZg/profile-displayphoto-scale_200_200/B4EZfgsajLGcAY-/0/1751821433134",
												"experiences": [
													{
														"job_title": "Founder Blitzapi",
														"company_linkedin_url": "https://www.linkedin.com/company/blitz-api",
														"company_linkedin_id": "be578414-239f-522e-b2e1-9246e22a52d1",
														"job_description": "We help GTM teams win faster by making high-quality B2B data and intent signals instantly available — directly in your existing stack. What we doBlitzAPI is an API-only platform for Growth, RevOps, and SalesOps teams to: Search: find the right people & companies (Waterfall ICP, LinkedIn/company/domain lookups, engagement search) Enrich: add verified emails, direct phone numbers & LinkedIn details in real time Validate: advanced catch-all email verification to maximize deliverability Scrape LinkedIn signals: posts, reactions, comments & activity for hyper-relevant outreach Why BlitzAPI- Real-time & precise — no stale databases- API-first & composable — works with N8N, Make, Clay, HubSpot, Salesforce, Smartlead…- Transparent pricing — credits instead of per-seat fees- Speed-to-market — prototype and scale playbooks in days, not months Use cases our customers loveHigh-deliverability outbound campaignsABM with Waterfall ICP targetingSocial selling with LinkedIn engagement triggersReal-time lead routing & enrichment",
														"job_start_date": "2025-05-01",
														"job_end_date": null,
														"job_is_current": true,
														"job_location": {
															"city": null,
															"state_code": null,
															"country_code": null
														}
													}
												],
												"education": [],
												"skills": [],
												"certifications": []
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"message": "Missing API key, please provide a valid API key in the 'x-api-key' header"
									}
								}
							}
						}
					},
					"402": {
						"description": "Payment Required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"message": "Insufficient credits balance"
									}
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"success": false,
										"message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
									}
								}
							}
						}
					}
				}
			}
		},
		"/v2/enrichment/linkedin-to-domain": {
			"post": {
				"summary": "Linkedin URL to Domain",
				"description": "### 💰 Cost: 0.5 Credits (on success)\n\nExtract the primary verified email domain pattern associated with a Company LinkedIn URL.",
				"tags": [
					"Company Enrichment"
				],
				"security": [
					{
						"APIKey": []
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"company_linkedin_url": {
										"type": "string",
										"example": "https://www.linkedin.com/company/blitz-api"
									}
								},
								"required": [
									"company_linkedin_url"
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"found": true,
										"email_domain": "blitz-agency.com"
									}
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"message": "Missing API key, please provide a valid API key in the 'x-api-key' header"
									}
								}
							}
						}
					},
					"402": {
						"description": "Payment Required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"message": "Insufficient credits balance"
									}
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"success": false,
										"message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
									}
								}
							}
						}
					}
				}
			}
		},
		"/v2/enrichment/phone": {
			"post": {
				"summary": "Find Mobile & Direct Phone",
				"description": "### 💰 Cost: 5 Credits (on success)\n\nLocate a verified mobile or direct business line for a specific person using their LinkedIn profile URL.",
				"tags": [
					"People Enrichment"
				],
				"security": [
					{
						"APIKey": []
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"person_linkedin_url": {
										"type": "string",
										"example": "https://www.linkedin.com/in/antoine-blitz-5581b7373"
									}
								},
								"required": [
									"person_linkedin_url"
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"found": true,
										"phone": "+1234567890"
									}
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"message": "Missing API key, please provide a valid API key in the 'x-api-key' header"
									}
								}
							}
						}
					},
					"402": {
						"description": "Payment Required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"message": "Insufficient credits balance"
									}
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"success": false,
										"message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
									}
								}
							}
						}
					}
				}
			}
		},
		"/v2/enrichment/email": {
			"post": {
				"summary": "Find Work Email",
				"description": "### 💰 Cost: 1 Credit (on success)\n\nFind verified work email addresses (including catch-all status) for a specific person using their LinkedIn profile URL.",
				"tags": [
					"People Enrichment"
				],
				"security": [
					{
						"APIKey": []
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"person_linkedin_url": {
										"type": "string",
										"example": "https://www.linkedin.com/in/antoine-blitz-5581b7373"
									}
								},
								"required": [
									"person_linkedin_url"
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"found": true,
										"email": "antoine@blitz-agency.com",
										"all_emails": [
											{
												"email": "antoine@blitz-agency.com",
												"job_order_in_profile": 1,
												"company_linkedin_url": "https://www.linkedin.com/company/blitz-api",
												"email_domain": "blitz-agency.com"
											}
										]
									}
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"message": "Missing API key, please provide a valid API key in the 'x-api-key' header"
									}
								}
							}
						}
					},
					"402": {
						"description": "Payment Required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"message": "Insufficient credits balance"
									}
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"success": false,
										"message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
									}
								}
							}
						}
					}
				}
			}
		},
		"/v2/search/waterfall-icp-keyword": {
			"post": {
				"tags": [
					"People Search"
				],
				"security": [
					{
						"APIKey": []
					}
				],
				"summary": "Waterfall ICP Search",
				"description": "### 💰 Cost: 1 Credit per result\n\nFind decision-makers using a hierarchical search logic (e.g., search for C-Level; if not found, cascade to VP level).",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"company_linkedin_url": {
										"type": "string",
										"example": "https://www.linkedin.com/company/wttj-fr"
									},
									"cascade": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"include_title": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"exclude_title": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"location": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"include_headline_search": {
													"type": "boolean"
												}
											}
										},
										"example": [
											{
												"include_title": [
													"Marketing Director",
													"Head Marketing",
													"Chief Marketing Officer"																			  
												],
												"exclude_title": [
													"assistant",
													"intern",
													"product",
													"junior"
												],
												"location": [
													"WORLD"
												],
												"include_headline_search": false
											},
											{
												"include_title": [
													"Marketing Manager",
													"Head Growth",
													"Growth manager"
												],
												"exclude_title": [
													"junior",
													"assistant",
													"intern",
													"hacker"
												],
												"location": [
													"WORLD"
												],
												"include_headline_search": false
											},
											{
												"include_title": [
												"Communication Director",
												"Brand Director",
												"Content Director"
												],
												"exclude_title": [
												"junior",
												"assistant",
												"intern",
												"UX",
												"UI",
												"Design"
												],
												"location": [
												"WORLD"
												],
												"include_headline_search": false
											},
											{
												"include_title": [
												"Communication Manager",
												"Brand Manager",
												"Content Manager"
												],
												"exclude_title": [
												"junior",
												"assistant",
												"intern"
												],
												"location": [
												"WORLD"
												],
												"include_headline_search": false
											},
											{
												"include_title": [
												"Communication",
												"marketing",
												"growth",
												"brand"
												],
												"exclude_title": [
												"junior",
												"assistant",
												"intern",
												"product"
											],
												"location": [
												"US",
												"CA"
												],
												"include_headline_search": true
											},
											{
												"include_title": [
												"CEO",
												"founder",
												"cofounder",
												"owner",
												"General Director"
												],
												"exclude_title": [
												"junior",
												"assistant",
												"intern"
												],
												"location": [
												"WORLD"
												],
												"include_headline_search": false
											}										]
									},
									"max_results": {
										"type": "number",
										"example": 10
									}
								},
								"required": [
									"company_linkedin_url",
									"cascade"
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
										"max_results": 6,
										"results_length": 6,
										"results": [{
											"person": {
												"first_name": "Melissa",
												"last_name": "Rumor",
												"full_name": "Melissa Rumor",
												"nickname": null,
												"civility_title": null,
												"headline": "Growth & Marketing Manager B2B : Brand Strategy, Lead Gen, SEO & Content | 👀 Actively seeking new challenges",
												"about_me": "At Welcome to the Jungle, we make work actually exciting. We do so by building innovative Employer Branding solutions that make companies attractive to workers, and by creating inspiring experiences and content that empower workers and companies to build new rules for a more sustainable work.",
												"location": {
													"city": "Paris",
													"state_code": null,
													"country_code": "FR",
													"continent": "Europe"
												},
												"linkedin_url": "https://www.linkedin.com/in/melissa-rumor",
												"connections_count": 500,
												"profile_picture_url": "https://media.licdn.com/dms/image/v2/D4E03AQGMYh2BdU4Jbg/profile-displayphoto-scale_200_200/B4EZd_SY8dHgAk-/0/1750187217673",
												"experiences": [{
													"job_title": "Growth Marketing Manager Welcome to the Jungle (France)",
													"company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
													"company_linkedin_id": "0e1c06c9-ad2f-56fe-b36b-f0927aeb261d",
													"job_description": null,
													"job_start_date": "2025-06-01",
													"job_end_date": null,
													"job_is_current": true,
													"job_location": {
														"city": "Paris",
														"state_code": null,
														"country_code": "FR"
													}
												}],
												"education": [{
													"degree": "DUT techniques de commercialisation",
													"end_date": "2020-01-01",
													"linkedin_url": "https://www.linkedin.com/school/upecofficiel",
													"organization": "Université Paris-Est Créteil (UPEC)",
													"start_date": "2018-01-01"
												}, {
													"degree": "Master",
													"end_date": "2023-01-01",
													"linkedin_url": "https://www.linkedin.com/school/esdes-business-school",
													"organization": "ESDES Lyon Business School",
													"start_date": "2021-01-01"
												}, {
													"degree": "Bachelor's degree",
													"end_date": "2021-01-01",
													"linkedin_url": "https://www.linkedin.com/school/ppabusinessschool",
													"organization": "PPA Business School",
													"start_date": "2020-01-01"
												}],
												"skills": [],
												"certifications": [{
													"authority": "LinkedIn",
													"name": "Développer son ingéniosité",
													"url": "https://www.linkedin.com/learning/certificates/532df0d72879f0c2919f3f9e4a79ddd3d9c1dd7582409d4eaca4246c67bb3887"
												}, {
													"authority": "LinkedIn",
													"name": "Développer son ingéniosité (2015)",
													"url": "https://www.linkedin.com/learning/certificates/23b42588c7d2c19511d79d8e79abf748e0d337054b865e331df82dcd01c2c993"
												}, {
													"authority": "LinkedIn",
													"name": "Savoir gérer son stress",
													"url": "https://www.linkedin.com/learning/certificates/ae18130d4a0487235525e3c49a169ead02f099aac62f6a3e0d5e0a5c70931d28"
												}, {
													"authority": "LinkedIn",
													"name": "Gérer des équipes virtuelles",
													"url": "https://www.linkedin.com/learning/certificates/62a5a97152a778a4ea469bfe37d1f65e5afa3dcdc1fe2f175473047324c67e3e"
												}, {
													"authority": "LinkedIn",
													"name": "Travailler à distance",
													"url": "https://www.linkedin.com/learning/certificates/18505ad3624f0006266e5f33450cf5e48460c95161c57edb24facf29a802bb0f"
												}, {
													"authority": "LinkedIn",
													"name": "Améliorer sa concentration",
													"url": "https://www.linkedin.com/learning/certificates/a55c89a7901af65bfc85eb22354e9b0410f1269e122560edcdcaf916a01514ad"
												}, {
													"authority": "LinkedIn",
													"name": "Être positif au travail",
													"url": "https://www.linkedin.com/learning/certificates/6afbfaf2c599d6a25c596c01b95194c3415d6cfc57052b7e26148c4f6d10bfc5"
												}, {
													"authority": "LinkedIn",
													"name": "Savoir gérer son temps",
													"url": "https://www.linkedin.com/learning/certificates/c46d933fd6a7ad07ac7905674b96655de95a0870a9200900bf9afca0baf57c46"
												}, {
													"authority": "LinkedIn",
													"name": "Collaborer en équipe avec la suite Microsoft Office 365",
													"url": "https://www.linkedin.com/learning/certificates/b01f471190dde5cf0dd5def11a9cb2a9944c94aec459673972059147723a1def"
												}, {
													"authority": "LinkedIn",
													"name": "L'essentiel de Teams",
													"url": "https://www.linkedin.com/learning/certificates/e4300bb452fa430d663bd28c3206d88f54ff1621a313b9884c9041f6c2f0ac2d"
												}]
											},
											"icp": 2,
											"ranking": 1,
											"what_matched": [{
												"value": "Growth Marketing Manager Welcome to the Jungle (France)",
												"key": "job_title"
											}, {
												"value": "Growth Marketing Manager Welcome to the Jungle (France)",
												"key": "job_title"
											}]
										}, {
											"person": {
												"first_name": "Wendy",
												"last_name": "Carré",
												"full_name": "Wendy Carré",
												"nickname": null,
												"civility_title": null,
												"headline": "Senior Content Marketing Manager @ Welcome to the Jungle (France)",
												"about_me": null,
												"location": {
													"city": "Paris",
													"state_code": null,
													"country_code": "FR",
													"continent": "Europe"
												},
												"linkedin_url": "https://www.linkedin.com/in/wendy-carr%c3%a9-6663848a",
												"connections_count": 500,
												"profile_picture_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
												"experiences": [{
													"job_title": "Senior Content Marketing Manager",
													"company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
													"company_linkedin_id": "0e1c06c9-ad2f-56fe-b36b-f0927aeb261d",
													"job_description": null,
													"job_start_date": "2023-05-01",
													"job_end_date": null,
													"job_is_current": true,
													"job_location": {
														"city": "Ville de Paris",
														"state_code": null,
														"country_code": "FR"
													}
												}],
												"education": [{
													"degree": "Master of Science in International Marketing",
													"end_date": "2014-01-01",
													"linkedin_url": "https://www.linkedin.com/school/renneschoolofbusiness",
													"organization": "Ecole supérieure de Commerce de Rennes",
													"start_date": "2010-01-01"
												}, {
													"degree": "Marketing Communications, Human Resources, International Business",
													"description": "Activities and Societies: Echange universitaire de six mois",
													"end_date": "2012-01-01",
													"linkedin_url": "https://www.linkedin.com/school/university-of-sheffield",
													"organization": "The University of Sheffield",
													"start_date": "2012-01-01"
												}, {
													"degree": "Hypokhâgne / Khâgne",
													"end_date": "2010-01-01",
													"organization": "Classes préparatoires, Lycée Michelet, Vanves (92)",
													"start_date": "2008-01-01"
												}],
												"skills": ["gfk", "photoshop", "pack office", "sap bw"],
												"certifications": []
											},
											"icp": 2,
											"ranking": 2,
											"what_matched": [{
												"value": "Senior Content Marketing Manager",
												"key": "job_title"
											}]
										}, {
											"person": {
												"first_name": "Laura",
												"last_name": "Scognamiglio",
												"full_name": "Laura Huline Scognamiglio",
												"nickname": null,
												"civility_title": null,
												"headline": "Senior Content Manager",
												"about_me": "Expertise Digitale/Marketing & Communication, forte attraction pour l\\'Hôtellerie Internationale, la Gastronomie et le Tourisme.",
												"location": {
													"city": "Paris",
													"state_code": null,
													"country_code": "FR",
													"continent": "Europe"
												},
												"linkedin_url": "https://www.linkedin.com/in/laura-huline-scognamiglio-74a16564",
												"connections_count": 500,
												"profile_picture_url": null,
												"experiences": [{
													"job_title": "Senior Content Manager",
													"company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
													"company_linkedin_id": "0e1c06c9-ad2f-56fe-b36b-f0927aeb261d",
													"job_description": "Elaboration d\\'une stratégie de contenu B2B engageante sur tous les canaux afin d\\'attirer de nouveaux clients et de fidéliser et valoriser la communauté de clients Welcome to the Jungle.Alimentation des campagnes Growth avec du contenu qualitatif et pertinent pour répondre aux enjeux des professionnels des RH et du Recrutement et convertir les prospects en clients ( Ebook, Live, Quizz.)Construction des campagnes de communication email afin d\\'optimiser la transition de Lead en MQL pour soutenir la réussite commerciale.Contrôle, analyse et compte rendu de l\\'impact du contenu sur les revenus.Contribution à la production de contenu pour nourrir les actions SEO et SEA.Collaboration avec les équipes Social Media pour maximiser la visibilité des contenus et nouveautés produit auprès de la communauté Welcome to the Jungle.Collaboration étroite avec l\\'équipe product marketing et les équipes Sales et AM pour valoriser les lancements produits et obtenir des retours du marché.",
													"job_start_date": "2023-11-01",
													"job_end_date": null,
													"job_is_current": true,
													"job_location": {
														"city": null,
														"state_code": null,
														"country_code": null
													}
												}],
												"education": [{
													"degree": "Licence",
													"end_date": "2010-01-01",
													"linkedin_url": "https://www.linkedin.com/school/universite-paris-nanterre",
													"organization": "Université Paris X Nanterre",
													"start_date": "2007-01-01"
												}, {
													"degree": "M2",
													"end_date": "2013-01-01",
													"organization": "Vatel Paris",
													"start_date": "2010-01-01"
												}],
												"skills": [],
												"certifications": []
											},
											"icp": 4,
											"ranking": 3,
											"what_matched": [{
												"value": "Senior Content Manager",
												"key": "job_title"
											}]
										}, {
											"person": {
												"first_name": "Marie",
												"last_name": "Villemin",
												"full_name": "Marie Poirier Villemin",
												"nickname": null,
												"civility_title": null,
												"headline": "Brand Manager @ Welcome to the Jungle",
												"about_me": null,
												"location": {
													"city": "Paris",
													"state_code": null,
													"country_code": "FR",
													"continent": "Europe"
												},
												"linkedin_url": "https://www.linkedin.com/in/marie-villemin",
												"connections_count": 500,
												"profile_picture_url": null,
												"experiences": [{
													"job_title": "Brand Manager Welcome to the Jungle (France)",
													"company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
													"company_linkedin_id": "0e1c06c9-ad2f-56fe-b36b-f0927aeb261d",
													"job_description": null,
													"job_start_date": "2025-01-01",
													"job_end_date": null,
													"job_is_current": true,
													"job_location": {
														"city": "Paris",
														"state_code": null,
														"country_code": "FR"
													}
												}],
												"education": [{
													"degree": "Master 2 (M2)",
													"end_date": "2020-01-01",
													"linkedin_url": "https://www.linkedin.com/school/supdepub",
													"organization": "Sup de Pub - INSEEC U",
													"start_date": "2019-01-01"
												}, {
													"degree": "Baccalauréat",
													"end_date": "2015-01-01",
													"organization": "Lycée Saint Joseph Vendôme",
													"start_date": "2008-01-01"
												}],
												"skills": [],
												"certifications": []
											},
											"icp": 4,
											"ranking": 4,
											"what_matched": [{
												"value": "Brand Manager Welcome to the Jungle (France)",
												"key": "job_title"
											}]
										}, {
											"person": {
												"first_name": "Juliette",
												"last_name": "B.",
												"full_name": "Juliette B.",
												"nickname": null,
												"civility_title": null,
												"headline": "Associate Brand Manager @Welcome to the Jungle",
												"about_me": null,
												"location": {
													"city": "Paris",
													"state_code": null,
													"country_code": "FR",
													"continent": "Europe"
												},
												"linkedin_url": "https://www.linkedin.com/in/juliette-boisdon-23b9661b8",
												"connections_count": 500,
												"profile_picture_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
												"experiences": [{
													"job_title": "Associate Brand Manager",
													"company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
													"company_linkedin_id": "0e1c06c9-ad2f-56fe-b36b-f0927aeb261d",
													"job_description": null,
													"job_start_date": "2025-09-01",
													"job_end_date": null,
													"job_is_current": true,
													"job_location": {
														"city": null,
														"state_code": null,
														"country_code": null
													}
												}],
												"education": [],
												"skills": [],
												"certifications": []
											},
											"icp": 4,
											"ranking": 5,
											"what_matched": [{
												"value": "Associate Brand Manager",
												"key": "job_title"
											}]
										}, {
											"person": {
												"first_name": "Marie",
												"last_name": "Villemin",
												"full_name": "Marie Poirier Villemin",
												"nickname": null,
												"civility_title": null,
												"headline": "Brand Manager @ Welcome to the Jungle",
												"about_me": null,
												"location": {
													"city": "Paris",
													"state_code": null,
													"country_code": "FR",
													"continent": "Europe"
												},
												"linkedin_url": "https://www.linkedin.com/in/marie-poiriervillemin",
												"connections_count": 500,
												"profile_picture_url": "https://media.licdn.com/dms/image/v2/D4E03AQEhSvrPJKxuew/profile-displayphoto-shrink_200_200/B4EZWt3LeRHcAo-/0/1742378678694",
												"experiences": [{
													"job_title": "Brand Manager Welcome to the Jungle (France)",
													"company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
													"company_linkedin_id": "0e1c06c9-ad2f-56fe-b36b-f0927aeb261d",
													"job_description": null,
													"job_start_date": "2025-01-01",
													"job_end_date": null,
													"job_is_current": true,
													"job_location": {
														"city": "Paris",
														"state_code": null,
														"country_code": "FR"
													}
												}],
												"education": [{
													"degree": "Baccalauréat",
													"end_date": "2015-01-01",
													"organization": "Lycée Saint Joseph Vendôme",
													"start_date": "2008-01-01"
												}, {
													"degree": "Master 2 (M2)",
													"end_date": "2020-01-01",
													"linkedin_url": "https://www.linkedin.com/school/supdepub",
													"organization": "Sup de Pub - INSEEC U",
													"start_date": "2019-01-01"
												}],
												"skills": [],
												"certifications": []
											},
											"icp": 4,
											"ranking": 6,
											"what_matched": [{
												"value": "Brand Manager Welcome to the Jungle (France)",
												"key": "job_title"
											}]
										}]
									}
								}
							}
						}
					},
					"402": {
						"description": "Payment Required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"message": "Insufficient credits balance"
									}
								}
							}
						}
					},
					"422": {
						"description": "Unprocessable Entity",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"success": false,
										"error": {
											"code": "INVALID_INPUT",
											"message": "Missing required fields"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"success": false,
										"message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
									}
								}
							}
						}
					}
				}
			}
		},
		"/v2/search/employee-finder": {
			"post": {
				"tags": [
					"People Search"
				],
				"security": [
					{
						"APIKey": []
					}
				],
				"summary": "Employee Finder",
				"description": "### 💰 Cost: 1 Credit per result\n\nSearch for specific employees within a company by filtering on job title, department, level, and location.",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"company_linkedin_url": {
										"type": "string",
										"example": "https://www.linkedin.com/company/wttj-fr"
									},
									"country_code": {
										"type": "array",
										"items": {
											"type": "string"
										},
										"example": [
											"US",
											"FR"
										]
									},
									"continent": {
										"type": "array",
										"items": {
											"type": "string"
										},
										"example": [
											"Africa",
											"Antarctica",
											"Asia",
											"Europe",
											"North America",
											"Oceania",
											"South America"
										]
									},
									"sales_region": {
										"type": "array",
										"items": {
											"type": "string"
										},
										"example": [
											"NORAM",
											"LATAM",
											"EMEA",
											"APAC"
										]
									},
									"job_level": {
										"type": "array",
										"items": {
											"type": "string"
										},
										"example": [
											"C-Team",
											"Director",
											"Manager",
											"Other",
											"Staff",
											"VP"
										]
									},
									"job_function": {
										"type": "array",
										"items": {
											"type": "string"
										},
										"example": [
											"Advertising & Marketing",
											"Art, Culture and Creative Professionals",
											"Construction",
											"Customer/Client Service",
											"Education",
											"Engineering",
											"Finance & Accounting",
											"General Business & Management",
											"Healthcare & Human Services",
											"Human Resources",
											"Information Technology",
											"Legal",
											"Manufacturing & Production",
											"Operations",
											"Other",
											"Public Administration & Safety",
											"Purchasing",
											"Research & Development",
											"Sales & Business Development",
											"Science",
											"Supply Chain & Logistics",
											"Writing/Editing"
										]
									},
									"min_connections_count": {
										"type": "number",
										"example": 200,
										"minimum": 0,
										"maximum": 500
									},
									"max_results": {
										"type": "number",
										"example": 3
									},
									"page": {
										"type": "number",
										"example": 1
									}
								},
								"required": [
									"company_linkedin_url"
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
										"max_results": 3,
										"results_length": 3,
										"page": 1,
										"total_pages": 82,
										"results": [{
											"first_name": "Hélène",
											"last_name": "Pillon",
											"full_name": "Hélène Pillon",
											"nickname": null,
											"civility_title": null,
											"headline": "Journaliste freelance",
											"about_me": "Depuis Marseille, je travaille pour différents médias français et européens en tant que…",
											"location": {
												"city": null,
												"state_code": null,
												"country_code": "FR",
												"continent": "Europe"
											},
											"linkedin_url": "https://www.linkedin.com/in/h%c3%a9l%c3%a8ne-pillon-2a57155a",
											"connections_count": 361,
											"profile_picture_url": "https://media.licdn.com/dms/image/v2/C5103AQGChE55b4tmFA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1517400935573",
											"experiences": [{
												"job_title": "Journaliste Indépendante",
												"company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
												"company_linkedin_id": "0e1c06c9-ad2f-56fe-b36b-f0927aeb261d",
												"job_description": "Rédaction de portraits pour le site web",
												"job_start_date": "2019-12-01",
												"job_end_date": null,
												"job_is_current": true,
												"job_location": {
													"city": null,
													"state_code": null,
													"country_code": null
												}
											}],
											"education": [],
											"skills": [],
											"certifications": []
										}, {
											"first_name": "Nathan",
											"last_name": "Chalot",
											"full_name": "Nathan Chalot",
											"nickname": null,
											"civility_title": null,
											"headline": null,
											"about_me": null,
											"location": {
												"city": "Paris",
												"state_code": null,
												"country_code": "FR",
												"continent": "Europe"
											},
											"linkedin_url": "https://www.linkedin.com/in/nathan-chalot-5a978210a",
											"connections_count": 500,
											"profile_picture_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
											"experiences": [{
												"job_title": "Welcome to the Jungle France",
												"company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
												"company_linkedin_id": "0e1c06c9-ad2f-56fe-b36b-f0927aeb261d",
												"job_description": null,
												"job_start_date": null,
												"job_end_date": null,
												"job_is_current": true,
												"job_location": {
													"city": null,
													"state_code": null,
													"country_code": null
												}
											}],
											"education": [],
											"skills": ["javascript", "html5", "jquery", "ruby", "css", "github", "git", "ruby on rails"],
											"certifications": []
										}, {
											"first_name": "Colombe",
											"last_name": "Godeluck",
											"full_name": "Colombe Godeluck",
											"nickname": null,
											"civility_title": null,
											"headline": "Helps companies strengthen & promote their employer brand",
											"about_me": null,
											"location": {
												"city": null,
												"state_code": null,
												"country_code": "FR",
												"continent": "Europe"
											},
											"linkedin_url": "https://www.linkedin.com/in/colombegodeluck",
											"connections_count": 500,
											"profile_picture_url": null,
											"experiences": [{
												"job_title": "Account Manager Senior",
												"company_linkedin_url": "https://www.linkedin.com/company/wttj-fr",
												"company_linkedin_id": "0e1c06c9-ad2f-56fe-b36b-f0927aeb261d",
												"job_description": null,
												"job_start_date": "2023-02-01",
												"job_end_date": null,
												"job_is_current": true,
												"job_location": {
													"city": "Anglet",
													"state_code": null,
													"country_code": "FR"
												}
											}],
											"education": [{
												"degree": "French Baccalaureate",
												"end_date": "2010-01-01",
												"organization": "Louis Barthou High School",
												"start_date": "2007-01-01"
											}, {
												"degree": "Master’s Degree",
												"end_date": "2016-01-01",
												"linkedin_url": "https://www.linkedin.com/school/maastricht-university-school-of-business-and-economics",
												"organization": "Maastricht University School of Business and Economics",
												"start_date": "2016-01-01"
											}, {
												"degree": "Master's Degree",
												"end_date": "2014-01-01",
												"linkedin_url": "https://www.linkedin.com/school/universite-paris-dauphine-psl",
												"organization": "Université Paris Dauphine",
												"start_date": "2010-01-01"
											}, {
												"degree": "Master’s Degree",
												"end_date": "2017-01-01",
												"linkedin_url": "https://www.linkedin.com/school/em-lyon-business-school",
												"organization": "EMLYON Business School",
												"start_date": "2015-01-01"
											}],
											"skills": [],
											"certifications": []
										}]
									}
								}
							}
						}
					},
					"402": {
						"description": "Payment Required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"message": "Insufficient credits balance"
									}
								}
							}
						}
					},
					"422": {
						"description": "Unprocessable Entity",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"success": false,
										"error": {
											"code": "INVALID_INPUT",
											"message": "Missing required fields"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"success": false,
										"message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
									}
								}
							}
						}
					}
				}
			}
		},
		"/v2/enrichment/domain-to-linkedin": {
			"post": {
				"tags": [
					"Company Enrichment"
				],
				"security": [
					{
						"APIKey": []
					}
				],
				"summary": "Domain to Linkedin URL",
				"description": "### 💰 Cost: 1 Credit (on success)\n\nRetrieve the official LinkedIn Company Page URL associated with a corporate website domain.",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"domain": {
										"type": "string",
										"example": "https://www.blitz-agency.com"
									}
								},
								"required": [
									"domain"
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"found": true,
										"company_linkedin_url": "https://www.linkedin.com/company/blitz-api"
									}
								}
							}
						}
					},
					"402": {
						"description": "Payment Required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"message": "Insufficient credits balance"
									}
								}
							}
						}
					},
					"422": {
						"description": "Unprocessable Entity",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"success": false,
										"error": {
											"code": "INVALID_INPUT",
											"message": "Missing required fields"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"success": false,
										"message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
									}
								}
							}
						}
					}
				}
			}
		},
		"/v2/enrichment/company": {
			"post": {
				"tags": [
					"Company Enrichment"
				],
				"security": [
					{
						"APIKey": []
					}
				],
				"summary": "Company Enrichment",
				"description": "### 💰 Cost: 1 Credit (on success)\n\nEnrich a company profile from its LinkedIn URL.",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"company_linkedin_url": {
										"type": "string",
										"example": "https://www.linkedin.com/company/blitz-api"
									}
								},
								"required": [
									"company_linkedin_url"
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"found": true,
										"company": {
											"linkedin_url": "https://www.linkedin.com/company/xxx",
											"linkedin_id": 10509138,
											"name": "Company Name",
											"about": "Short company description / about us…",
											"specialties": [
												"graphisme",
												"conseils communication",
												"web"
											],
											"industry": "Advertising Services",
											"type": "Privately Held",
											"size": "1-10",
											"employees_on_linkedin": 2,
											"followers": 58,
											"founded_year": 2003,
											"hq": {
												"city": "Noida",
												"state": "Uttar Pradesh",
												"postcode": "201301",
												"country_code": "IN",
												"country_name": "India",
												"region": "APAC",
												"continent": "Asia",
												"street": "B-20 First Floor Sector -64"
											},
											"domain": "communication-support.be",
											"website": "https://www.communication-support.be"
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"success": false,
										"message": "Invalid API key, please provide a valid API key in the 'x-api-key' header"
									}
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"success": false,
										"message": "Not Found"
									}
								}
							}
						}
					},
					"429": {
						"description": "Too Many Requests",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"success": false,
										"message": "Rate limit exceeded, please try again later"
									}
								}
							}
						}
					}
				}
			}
		},
		"/v2/utilities/current-date": {
			"post": {
				"tags": [
					"Utilities"
				],
				"security": [
					{
						"APIKey": []
					}
				],
				"summary": "Get Current Date and Time",
				"description": "### 💰 Cost: 0 Credits\n\nRetrieve the current server date and time for a specific timezone to synchronize your requests.",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"region": {
										"type": "string",
										"example": "America/New_York"
									}
								},
								"required": [
									"region"
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"datetime": "2026-01-08 12:00:00 -05:00",
										"timestamp": 1736385600,
										"timezone": "America/New_York",
										"timezone_name": "(GMT-05:00) New York"
									}
								}
							}
						}
					},
					"422": {
						"description": "Unprocessable Entity",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"success": false,
										"error": {
											"code": "INVALID_INPUT",
											"message": "Missing required fields"
										}
									}
								}
							}
						}
					},
                  
					"500": {
						"description": "Internal Server Error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"example": {
										"success": false,
										"message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
									}
								}
							}
						}
					}
				}
			}
		}
	}
}